In [1]:
%cd ..

/Users/floydluo/Library/CloudStorage/GoogleDrive-jjluo@terpmail.umd.edu/.shortcut-targets-by-id/1qNzMmGHCg5Xa63Vw3aKbZdMXvkfT2CgC/MedStar/MS_CODE/FieldNN

# Data

In [3]:
import pandas as pd

path = 'data/SimulationTable.xlsx'
df = pd.read_excel(path, sheet_name = 'PatientProfile').iloc[:, 1:]

df['basicInfo'] = df.apply(lambda x: '&'.join([x['sex'], x['race']]), axis = 1)
df = df[['PID', 'age', 'basicInfo']]


df.to_csv('data/Simulations/P.csv', index = False)

df

                                                 PID  age basicInfo
0  c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...   34  Female&A
1  e51b47743a25061a5043fae0fc8375c73a911ba4fe88f4...   23    Male&A
2  7f41009dc4a64812132645b29819067390c34b0fb762f9...   76    Male&C
3  3e9cd858e8fcebded9fa0e279961b7019352fdca28d5c0...   73  Female&D
4  3c911d2de15eb59d223d9ef5f2ff5c4f12013eefb4b41e...   23  Female&B
5  a5b02e263b41397c1acd5a1371a13bd9e6555ede73a5a1...   52    Male&B
6  b1d1a7bce9f3172a2112e073f77d0c112002a0f74ebe82...   21    Male&B
7  eb01067a39d883465d0d3147fdfff6d808d8b0967339df...   77  Female&B

In [4]:
import pandas as pd

path = 'data/SimulationTable.xlsx'
df = pd.read_excel(path, sheet_name = 'PNSect').iloc[:, 1:]
df.to_csv('data/Simulations/PNSect.csv', index = False)
df

,PID,ECID,PNID,PNSectID,SectName
0,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,d7546fe9ee4da53b2b808942fcbbc526389bf5e0f4d5dd...,1335,0,Chief Complaint
1,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,d7546fe9ee4da53b2b808942fcbbc526389bf5e0f4d5dd...,1335,1,History of Present Illness
2,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,d7546fe9ee4da53b2b808942fcbbc526389bf5e0f4d5dd...,1335,2,Physical Exam
3,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,d7546fe9ee4da53b2b808942fcbbc526389bf5e0f4d5dd...,1335,3,SBIRT
4,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,d7546fe9ee4da53b2b808942fcbbc526389bf5e0f4d5dd...,1335,4,Assessment/Plan
...,...,...,...,...,...
277,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,b4b88e47a7fe7837955c27b75ba3e14666d2694361ceb9...,920,277,Medications
278,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,b4b88e47a7fe7837955c27b75ba3e14666d2694361ceb9...,920,278,Allergies
279,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,b4b88e47a7fe7837955c27b75ba3e14666d2694361ceb9...,920,279,Social History
280,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,b4b88e47a7fe7837955c27b75ba3e14666d2694361ceb9...,920,280,Family History
281,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,b4b88e47a7fe7837955c27b75ba3e14666d2694361ceb9...,920,281,Health Maintenance

In [5]:
path = 'data/SimulationsRZ/A1C.csv'
df = pd.read_csv(path).iloc[:, 2:]
df.to_csv(path.replace('SimulationsRZ', 'Simulations'), index = False)
df

,PID,ECID,RID,V,DT
0,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,a8e45624b012efe739e6200570c8b8b7e2625469d96943...,5056,46.861784,2023-03-25
1,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,051eff8c45c75b071e31b862d6c119a2ae48bc8ff64189...,3898,1.220883,2023-04-12
2,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,d7546fe9ee4da53b2b808942fcbbc526389bf5e0f4d5dd...,3546,16.714732,2023-04-09
3,e51b47743a25061a5043fae0fc8375c73a911ba4fe88f4...,d09cc298b6eab075a6c9a1506d61ae80a38dad10269a33...,3500,23.831523,2023-03-31
4,e51b47743a25061a5043fae0fc8375c73a911ba4fe88f4...,88b7515aa7d9aef5aab8dbcc42ad24926c4845e0964d0d...,5382,2.313767,2023-04-13
5,e51b47743a25061a5043fae0fc8375c73a911ba4fe88f4...,b9c72740cb79d655e6fb1fce7f87bc64c84fe908796172...,3499,47.156259,2023-04-14
6,7f41009dc4a64812132645b29819067390c34b0fb762f9...,c69496fbeaae27eb1a61f63f1a258a3394cafa91843042...,4555,17.246819,2023-04-06
7,3e9cd858e8fcebded9fa0e279961b7019352fdca28d5c0...,dddb4e428b8db6c44bde42a6b2c2e69b8a20422032f9e6...,3879,37.447457,2023-04-04
8,3e9cd858e8fcebded9fa0e279961b7019352fdca28d5c0...,5554853a3da34221c1aaa7cf36e858256173bddfdef5b2...,5409,17.241648,2023-04-11
9,3e9cd858e8fcebded9fa0e279961b7019352fdca28d5c0...,ce51b1f6e89bef5af6dcc7cb2f89f7a9d90275081fef52...,3524,49.140256,2023-04-09
10,3c911d2de15eb59d223d9ef5f2ff5c4f12013eefb4b41e...,d65427d2179b41d928b9c105547be1627361a9452d5765...,5770,20.662630,2023-03-19
11,3c911d2de15eb59d223d9ef5f2ff5c4f12013eefb4b41e...,4cd3b9539371994813e6e979ad024d4f6c2a4b9bb276e9...,4616,7.850530,2023-04-11
12,3c911d2de15eb59d223d9ef5f2ff5c4f12013eefb4b41e...,aae53d3ea43116d31ec28115af28cec6440b59bc1c182b...,3861,16.653541,2023-04-08
13,3c911d2de15eb59d223d9ef5f2ff5c4f12013eefb4b41e...,0796c8cf0fbbc07e9c9e72d091fbc3c647ef3ab95a199d...,6171,2.577225,2023-03-25
14,a5b02e263b41397c1acd5a1371a13bd9e6555ede73a5a1...,ee88dd7d50722447ce86c29b147595bd76a4edabb783f2...,5800,17.660021,2023-04-12
15,a5b02e263b41397c1acd5a1371a13bd9e6555ede73a5a1...,69d74e412a9d5dfbd4144bae075880bebf275cbdd233b0...,5050,36.499557,2023-03-27
16,a5b02e263b41397c1acd5a1371a13bd9e6555ede73a5a1...,08d856d90c426cb15d6baf1c1374375022e466ba3753a6...,3542,44.569271,2023-04-09
17,a5b02e263b41397c1acd5a1371a13bd9e6555ede73a5a1...,0b421f2ab6ea0b641f5d3802df6292e172dd9cd07a6edb...,4651,36.247254,2023-04-06
18,a5b02e263b41397c1acd5a1371a13bd9e6555ede73a5a1...,e5eb3a12d243a1f7559dd08261751e5be44ca76c13fdd4...,5801,9.260195,2023-04-08
19,b1d1a7bce9f3172a2112e073f77d0c112002a0f74ebe82...,729c20342ea02b2cb16764ea06303ada9e1e5b7746bf3c...,6204,21.664842,2023-04-06
20,b1d1a7bce9f3172a2112e073f77d0c112002a0f74ebe82...,c12e60d8dc1a4c90bddf179917b0fb3f7defbb83e76434...,5048,38.356969,2023-04-13
21,b1d1a7bce9f3172a2112e073f77d0c112002a0f74ebe82...,97529c6a893a611823c4ae1a3589bac298817a3477564e...,3896,7.628861,2023-04-10
22,b1d1a7bce9f3172a2112e073f77d0c112002a0f74ebe82...,4ccd17b84c0a4c5a8294cb9d53f062baafa9907e71f68b...,3897,32.831454,2023-04-08
23,b1d1a7bce9f3172a2112e073f77d0c112002a0f74ebe82...,61a58a2adcc43e481b761dffe6d442ca7e48b76735da5d...,5799,15.500044,2023-03-25
24,b1d1a7bce9f3172a2112e073f77d0c112002a0f74ebe82...,e526cd9bb282e9aa43c139774e07b45d5591b1273d6bc0...,3541,31.810007,2023-04-06
25,b1d1a7bce9f3172a2112e073f77d0c112002a0f74ebe82...,a7e542b9a892df56ca32f36c06cf105d7b98b0d853c471...,4649,45.309869,2023-04-02
26,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,254eb55bf49dbc4b29cd83bc8cfd73b796cd9c98dde594...,6202,31.077959,2023-04-15

In [6]:
path = 'data/SimulationsRZ/Diag.csv'
df = pd.read_csv(path).iloc[:, 2:]
df.to_csv(path.replace('SimulationsRZ', 'Simulations'), index = False)
df

,PID,ECID,RID,DT,Value
0,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,0f8c30d5f1eef2936716d72af42f7c609380727aee61a3...,227791,2023/3/25,N80.0
1,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,0f8c30d5f1eef2936716d72af42f7c609380727aee61a3...,214487,2023/3/20,T87.0
2,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,0f8c30d5f1eef2936716d72af42f7c609380727aee61a3...,148227,2023/4/4,Q91.0
3,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,0f8c30d5f1eef2936716d72af42f7c609380727aee61a3...,240969,2023/3/31,O5.0
4,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,77e93e3f8232ab1080decc658295b491711fe5878f6c82...,227787,2023/3/28,M33.0
...,...,...,...,...,...
921,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,b4b88e47a7fe7837955c27b75ba3e14666d2694361ceb9...,187651,2023/3/28,O60.5
922,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,b4b88e47a7fe7837955c27b75ba3e14666d2694361ceb9...,240663,2023/4/2,V50.0
923,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,b4b88e47a7fe7837955c27b75ba3e14666d2694361ceb9...,200776,2023/3/28,S61.5
924,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,b4b88e47a7fe7837955c27b75ba3e14666d2694361ceb9...,200811,2023/4/1,A61.0
925,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,b4b88e47a7fe7837955c27b75ba3e14666d2694361ceb9...,147931,2023/3/18,O90.5

In [7]:
path = 'data/SimulationsRZ/PN.csv'
df = pd.read_csv(path).iloc[:, 2:]
df.to_csv(path.replace('SimulationsRZ', 'Simulations'), index = False)
df

,PID,ECID,PNID,DT
0,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,d7546fe9ee4da53b2b808942fcbbc526389bf5e0f4d5dd...,1335,2023-03-31
1,e51b47743a25061a5043fae0fc8375c73a911ba4fe88f4...,3e2787a3f189c77bdeaf881efee1ea56985c0d391e9a9c...,1286,2023-04-14
2,e51b47743a25061a5043fae0fc8375c73a911ba4fe88f4...,40351856bf5eb55be6f9f0e38af4b4c803d161f0ed7be7...,1074,2023-03-23
3,7f41009dc4a64812132645b29819067390c34b0fb762f9...,c69496fbeaae27eb1a61f63f1a258a3394cafa91843042...,435,2023-03-27
4,3e9cd858e8fcebded9fa0e279961b7019352fdca28d5c0...,8d116452d6e0282532d69e89d38bce4f9e82c8fe2ce255...,492,2023-04-15
5,3c911d2de15eb59d223d9ef5f2ff5c4f12013eefb4b41e...,23ab02a0967e075413f2482ad972b5d5a470fa63a8b7f3...,70253,2023-03-30
6,3c911d2de15eb59d223d9ef5f2ff5c4f12013eefb4b41e...,2f3f26d053cd79ca507b17cb859e5143c77ee33eee44dd...,70513,2023-03-18
7,3c911d2de15eb59d223d9ef5f2ff5c4f12013eefb4b41e...,71c4f2574e630f3828d4a1c3faa5c738a7c6535dd1ed9f...,70514,2023-04-03
8,3c911d2de15eb59d223d9ef5f2ff5c4f12013eefb4b41e...,4bec171754356324046e131f7203086c7b2664e4175552...,71919,2023-04-01
9,a5b02e263b41397c1acd5a1371a13bd9e6555ede73a5a1...,69d74e412a9d5dfbd4144bae075880bebf275cbdd233b0...,70411,2023-03-26
10,a5b02e263b41397c1acd5a1371a13bd9e6555ede73a5a1...,e3c596290f3fa029fde3535b080caef56d7ed6383e4d2e...,71801,2023-04-08
11,a5b02e263b41397c1acd5a1371a13bd9e6555ede73a5a1...,28068f773550aab4826adbb04827746d3ccc7086b6bf72...,72374,2023-04-12
12,a5b02e263b41397c1acd5a1371a13bd9e6555ede73a5a1...,9f83f91b4a171989b60cefbcf698f629a37b07ee85a3f9...,70410,2023-04-07
13,a5b02e263b41397c1acd5a1371a13bd9e6555ede73a5a1...,0b421f2ab6ea0b641f5d3802df6292e172dd9cd07a6edb...,71802,2023-04-01
14,a5b02e263b41397c1acd5a1371a13bd9e6555ede73a5a1...,e5eb3a12d243a1f7559dd08261751e5be44ca76c13fdd4...,71800,2023-03-18
15,a5b02e263b41397c1acd5a1371a13bd9e6555ede73a5a1...,b58393b6aaf5685b4f40433789a1d7d637eafb5cff051c...,70566,2023-03-31
16,a5b02e263b41397c1acd5a1371a13bd9e6555ede73a5a1...,3d85edc4dc40a188b37eed228bcdffad49e568156bc113...,71667,2023-04-01
17,b1d1a7bce9f3172a2112e073f77d0c112002a0f74ebe82...,e526cd9bb282e9aa43c139774e07b45d5591b1273d6bc0...,70851,2023-03-26
18,b1d1a7bce9f3172a2112e073f77d0c112002a0f74ebe82...,a7e542b9a892df56ca32f36c06cf105d7b98b0d853c471...,71666,2023-04-03
19,b1d1a7bce9f3172a2112e073f77d0c112002a0f74ebe82...,65bcd57e16844d27eec2363a305c41cc321d595c3876cb...,72255,2023-04-14
20,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,2c49e24351a1f919f54d2a1328b9da10b9de2fbb3b33cc...,68,2023-03-19
21,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,b4b88e47a7fe7837955c27b75ba3e14666d2694361ceb9...,920,2023-04-11

In [8]:
path = 'data/SimulationsRZ/PNSectSent.csv'
df = pd.read_csv(path).iloc[:, 2:]
df.to_csv(path.replace('SimulationsRZ', 'Simulations'), index = False)
df

,PID,ECID,PNID,PNSectID,SentID,Sentence
0,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,d7546fe9ee4da53b2b808942fcbbc526389bf5e0f4d5dd...,1335,0,0,Billion wish anyone seat you government throw.
1,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,d7546fe9ee4da53b2b808942fcbbc526389bf5e0f4d5dd...,1335,1,1,Be heavy defense to.
2,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,d7546fe9ee4da53b2b808942fcbbc526389bf5e0f4d5dd...,1335,1,2,Treatment sit recent least someone.
3,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,d7546fe9ee4da53b2b808942fcbbc526389bf5e0f4d5dd...,1335,1,3,Writer trouble space involve walk.
4,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,d7546fe9ee4da53b2b808942fcbbc526389bf5e0f4d5dd...,1335,1,4,Rest second training.
...,...,...,...,...,...,...
2582,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,b4b88e47a7fe7837955c27b75ba3e14666d2694361ceb9...,920,280,2582,Quality interesting affect into.
2583,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,b4b88e47a7fe7837955c27b75ba3e14666d2694361ceb9...,920,280,2583,Attention letter so local anyone.
2584,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,b4b88e47a7fe7837955c27b75ba3e14666d2694361ceb9...,920,281,2584,Value region leader sell.
2585,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,b4b88e47a7fe7837955c27b75ba3e14666d2694361ceb9...,920,281,2585,Home maybe bit door ever.
2586,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,b4b88e47a7fe7837955c27b75ba3e14666d2694361ceb9...,920,281,2586,Play policy upon score tend place.

In [9]:
import random 
path = 'data/SimulationsRZ/Smoking.csv'
df = pd.read_csv(path).iloc[:, 2:]
df['V'] = df['V'].apply(lambda x: random.choice(['A', 'B', 'C', 'D']))
df.to_csv(path.replace('SimulationsRZ', 'Simulations'), index = False)
df

,PID,ECID,RID,DT,V
0,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,0f8c30d5f1eef2936716d72af42f7c609380727aee61a3...,14290,2023-03-19,D
1,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,77e93e3f8232ab1080decc658295b491711fe5878f6c82...,17942,2023-03-21,A
2,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,c5129532b3238e9cfcb50a47566141a3a744ba02dd8bf2...,15484,2023-04-04,A
3,c40a2a022042c63363808717a0a6a00afc4801aaaf1da3...,d7546fe9ee4da53b2b808942fcbbc526389bf5e0f4d5dd...,17943,2023-03-28,B
4,e51b47743a25061a5043fae0fc8375c73a911ba4fe88f4...,f3ab357b1383d3268ef7fe957fba2a6f4b00edc3fdebda...,14003,2023-03-29,C
...,...,...,...,...,...
96,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,8de48243a9f6d0a92d1922f68ed1e0a232be02b71e3e14...,17909,2023-03-27,B
97,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,0b1da031e1e82b45632bbac5039524f4d7e355ca6f74b8...,20389,2023-03-28,D
98,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,60e49d716405e297cce43a3b909bac97269cd48ccc81e7...,14254,2023-04-11,A
99,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,2c49e24351a1f919f54d2a1328b9da10b9de2fbb3b33cc...,22843,2023-03-19,B
100,eb01067a39d883465d0d3147fdfff6d808d8b0967339df...,9e63f8f4a8caaa7d1d2ce9c8bc4f76ea596ff86a375fb3...,22844,2023-03-24,A

# Change PID and ECID

In [10]:
import os

folder = 'data/Simulations/'
file_list = [os.path.join(folder, i) for i in os.listdir(folder) if '.csv' in i and 'Encounter' not in i]
file_list

['data/Simulations/PNSectSent.csv',
 'data/Simulations/PNSect.csv',
 'data/Simulations/A1C.csv',
 'data/Simulations/P.csv',
 'data/Simulations/PN.csv',
 'data/Simulations/Diag.csv',
 'data/Simulations/Smoking.csv']

In [11]:
col = 'PID'
df_list = [pd.read_csv(file) for file in file_list]
ID_series = pd.concat([df[col] for df in df_list if col in df.columns])
# {row[col]: idx for idx, row in ID_series.value_counts().reset_index().iterrows()}
# ID_series
PID_2_new = {row['index']: idx for idx, row in ID_series.value_counts().reset_index().iterrows()}
# ID_series
len(PID_2_new)

8

In [12]:
PID_2_new

{'a5b02e263b41397c1acd5a1371a13bd9e6555ede73a5a16538a1947f9a1f5a97': 0,
 'b1d1a7bce9f3172a2112e073f77d0c112002a0f74ebe8207c6c7feec688a16d0': 1,
 '3c911d2de15eb59d223d9ef5f2ff5c4f12013eefb4b41ea38fbe2fab6b97ff3f': 2,
 'eb01067a39d883465d0d3147fdfff6d808d8b0967339dfe9e9d3f4d1d439224b': 3,
 'e51b47743a25061a5043fae0fc8375c73a911ba4fe88f4c6185bc7aae819769a': 4,
 '3e9cd858e8fcebded9fa0e279961b7019352fdca28d5c073e73e376a4571e0c9': 5,
 'c40a2a022042c63363808717a0a6a00afc4801aaaf1da34bdb45c2596543f6ae': 6,
 '7f41009dc4a64812132645b29819067390c34b0fb762f9b6ca467a0478bc1f1c': 7}

In [13]:
col = 'ECID'
df_list = [pd.read_csv(file) for file in file_list]
ID_series = pd.concat([df[col] for df in df_list if col in df.columns])
# {row[col]: idx for idx, row in ID_series.value_counts().reset_index().iterrows()}
# ID_series
ECID_2_new = {row['index']: idx for idx, row in ID_series.value_counts().reset_index().iterrows()}
# ID_series
len(ECID_2_new)

225

In [15]:
# ECID_2_new

In [20]:
# ID_series.value_counts()

In [16]:
for filepath in file_list:
    print(filepath)
    df = pd.read_csv(filepath)
    df['PID'] = df['PID'].apply(lambda x: 'P' + str(PID_2_new[x]))
    if 'ECID' in df.columns:
        df['ECID'] = df['ECID'].apply(lambda x: 'EC' + str(ECID_2_new[x]))
        
    if 'DT' in df.columns: 
        df = df.sort_values(['PID', 'DT']).reset_index(drop = True)
    else:
        df = df.sort_values('PID').reset_index(drop = True)
    df.to_csv(filepath, index = False)

data/Simulations/PNSectSent.csv
data/Simulations/PNSect.csv
data/Simulations/A1C.csv
data/Simulations/P.csv
data/Simulations/PN.csv
data/Simulations/Diag.csv
data/Simulations/Smoking.csv

In [17]:
df

    PID   ECID    RID          DT  V
0    P0   EC23  15471  2023-03-19  B
1    P0  EC142  21622  2023-03-20  D
2    P0  EC113  19101  2023-03-23  A
3    P0  EC166  22867  2023-03-26  B
4    P0   EC91  19104  2023-03-27  D
..   ..    ...    ...         ... ..
96   P5  EC129  20285  2023-04-16  B
97   P6   EC92  14290  2023-03-19  D
98   P6  EC123  17942  2023-03-21  A
99   P6   EC15  17943  2023-03-28  B
100  P6   EC93  15484  2023-04-04  A

[101 rows x 5 columns]

# Encounter Information

In [18]:
import os

folder = 'data/Simulations/'
file_list = [os.path.join(folder, i) for i in os.listdir(folder) if '.csv' in i]
file_list

['data/Simulations/PNSectSent.csv',
 'data/Simulations/PNSect.csv',
 'data/Simulations/A1C.csv',
 'data/Simulations/P.csv',
 'data/Simulations/PN.csv',
 'data/Simulations/Diag.csv',
 'data/Simulations/Smoking.csv']

In [19]:
df_list = [pd.read_csv(file) for file in file_list]


a = pd.concat([df[['PID', 'ECID', 'DT']]  for df in df_list if 'ECID' in df.columns and 'DT' in df.columns])
a['DT'] = pd.to_datetime(a['DT'])
a = a.groupby('ECID').apply(lambda x:{'PID': x['PID'].max(), 
                                      'ECID': x['ECID'].max(), 
                                      'DT_min': x['DT'].min(), 
                                      'DT_max': x['DT'].max(), 
                                      'BasicInfo': '&'.join([random.choice([i for i in 'ABCD']), 
                                                          random.choice([i for i in 'WXYZ'])]),
                                     }).to_list()

df_ECID = pd.DataFrame(a).sort_values(['PID', 'DT_min']).reset_index(drop = True)
df_ECID

    PID   ECID     DT_min     DT_max BasicInfo
0    P0   EC18 2023-03-18 2023-04-16       D&X
1    P0  EC140 2023-03-19 2023-04-05       D&X
2    P0   EC23 2023-03-19 2023-04-16       C&W
3    P0  EC141 2023-03-20 2023-04-16       C&Z
4    P0  EC142 2023-03-20 2023-04-15       B&W
..   ..    ...        ...        ...       ...
220  P6   EC15 2023-03-21 2023-04-09       B&X
221  P6   EC93 2023-03-23 2023-04-04       B&X
222  P6  EC195 2023-03-25 2023-03-25       C&Z
223  P6  EC173 2023-04-05 2023-04-13       C&W
224  P7   EC17 2023-03-18 2023-04-06       A&W

[225 rows x 5 columns]

In [20]:
RecName = 'EC'
path = f'data/Simulations/{RecName}.csv'
print(path)

df_ECID.to_csv(path, index = False)

data/Simulations/EC.csv