In [1]:
%cd ..

/Users/xiruihan/Desktop/RecFldGrn-main

# Load Data


## Load Raw

In [2]:
import os 
import pandas as pd

RecName = 'EC'
folder = 'data/Simulations/'
raw_file_path =  os.path.join(folder, RecName) + '.csv'
print(raw_file_path)

data/Simulations/EC.csv

In [16]:
RecName = 'EC'
# load all records
df = pd.read_csv(raw_file_path)
df

    PID   ECID      DT_min      DT_max BasicInfo
0    P0   EC18  2023-03-18  2023-04-16       D&X
1    P0  EC140  2023-03-19  2023-04-05       D&X
2    P0   EC23  2023-03-19  2023-04-16       C&W
3    P0  EC141  2023-03-20  2023-04-16       C&Z
4    P0  EC142  2023-03-20  2023-04-15       B&W
..   ..    ...         ...         ...       ...
220  P6   EC15  2023-03-21  2023-04-09       B&X
221  P6   EC93  2023-03-23  2023-04-04       B&X
222  P6  EC195  2023-03-25  2023-03-25       C&Z
223  P6  EC173  2023-04-05  2023-04-13       C&W
224  P7   EC17  2023-03-18  2023-04-06       A&W

[225 rows x 5 columns]

## Select Columns

In [17]:
parent_ids = ['PID']
focal_ids = ['ECID']


selected_cols = ['DT_min', 'DT_max', 'BasicInfo']

In [18]:
parent_ids + focal_ids + selected_cols

['PID', 'ECID', 'DT_min', 'DT_max', 'BasicInfo']

In [19]:
df = df[parent_ids + focal_ids + selected_cols]
df

    PID   ECID      DT_min      DT_max BasicInfo
0    P0   EC18  2023-03-18  2023-04-16       D&X
1    P0  EC140  2023-03-19  2023-04-05       D&X
2    P0   EC23  2023-03-19  2023-04-16       C&W
3    P0  EC141  2023-03-20  2023-04-16       C&Z
4    P0  EC142  2023-03-20  2023-04-15       B&W
..   ..    ...         ...         ...       ...
220  P6   EC15  2023-03-21  2023-04-09       B&X
221  P6   EC93  2023-03-23  2023-04-04       B&X
222  P6  EC195  2023-03-25  2023-03-25       C&Z
223  P6  EC173  2023-04-05  2023-04-13       C&W
224  P7   EC17  2023-03-18  2023-04-06       A&W

[225 rows x 5 columns]

## Basic Filtering

In [20]:
# > 2023-03-15

In [34]:
df['DT_min'] = pd.to_datetime(df['DT_min'])
df['DT_max'] = pd.to_datetime(df['DT_max'])


selection = df['DT_min'] > pd.to_datetime('2023-03-20')
df = df[selection].reset_index(drop= True)
df

    PID   ECID     DT_min     DT_max BasicInfo
0    P0   EC12 2023-03-21 2023-04-08       B&Z
1    P0   EC13 2023-03-21 2023-04-09       C&X
2    P0   EC16 2023-03-21 2023-04-16       A&X
3    P0   EC14 2023-03-22 2023-04-13       D&Z
4    P0  EC164 2023-03-22 2023-04-08       C&Y
..   ..    ...        ...        ...       ...
145  P5  EC199 2023-04-11 2023-04-11       B&X
146  P6   EC15 2023-03-21 2023-04-09       B&X
147  P6   EC93 2023-03-23 2023-04-04       B&X
148  P6  EC195 2023-03-25 2023-03-25       C&Z
149  P6  EC173 2023-04-05 2023-04-13       C&W

[150 rows x 5 columns]

In [30]:
# df['PID'].value_counts()

## DF Rec Raw

In [23]:
df_RecRaw = df
df_RecRaw

    PID   ECID     DT_min     DT_max BasicInfo
0    P0   EC12 2023-03-21 2023-04-08       B&Z
1    P0   EC13 2023-03-21 2023-04-09       C&X
2    P0   EC16 2023-03-21 2023-04-16       A&X
3    P0   EC14 2023-03-22 2023-04-13       D&Z
4    P0  EC164 2023-03-22 2023-04-08       C&Y
..   ..    ...        ...        ...       ...
145  P5  EC199 2023-04-11 2023-04-11       B&X
146  P6   EC15 2023-03-21 2023-04-09       B&X
147  P6   EC93 2023-03-23 2023-04-04       B&X
148  P6  EC195 2023-03-25 2023-03-25       C&Z
149  P6  EC173 2023-04-05 2023-04-13       C&W

[150 rows x 5 columns]

# Fields in Record

## Field: DT_min

## Field: DT_max

## Field: BasicInfo

## Call Parents

In [24]:
def load_df_data_from_folder(data_folder, IDName):
    file_list = os.listdir(data_folder)
    # file_lis
    df = pd.concat([pd.read_pickle(os.path.join(data_folder, i)) for i in file_list if '.p' in i]).reset_index(drop = True)
    df = df.sort_values(IDName).reset_index(drop = True)
    return df# .shape

fullrec_folder = 'data/ProcData/RecFolder/P'
df_Pat = load_df_data_from_folder(fullrec_folder, 'PID')[['PID']]
print(df_Pat.shape)
df_Pat.head()

(8, 1)

  PID
0  P0
1  P1
2  P2
3  P3
4  P4

In [27]:
df_RecRaw# ['PID'].value_counts()

P3    66
P0    27
P4    17
P2    13
P5    13
P1    10
P6     4
Name: PID, dtype: int64

In [32]:
parent_ids

['PID']

In [40]:
df = pd.merge(df_Pat, df_RecRaw, on = parent_ids, how = 'left')
df

    PID   ECID     DT_min     DT_max BasicInfo
0    P0   EC12 2023-03-21 2023-04-08       B&Z
1    P0   EC13 2023-03-21 2023-04-09       C&X
2    P0   EC16 2023-03-21 2023-04-16       A&X
3    P0   EC14 2023-03-22 2023-04-13       D&Z
4    P0  EC164 2023-03-22 2023-04-08       C&Y
..   ..    ...        ...        ...       ...
146  P6   EC15 2023-03-21 2023-04-09       B&X
147  P6   EC93 2023-03-23 2023-04-04       B&X
148  P6  EC195 2023-03-25 2023-03-25       C&Z
149  P6  EC173 2023-04-05 2023-04-13       C&W
150  P7    NaN        NaT        NaT       NaN

[151 rows x 5 columns]

In [43]:
np.ones(d[col].isnull().sum()).cumsum()

array([1.])

In [44]:
import numpy as np

d = df
for col in focal_ids: 
    d.loc[d[col].isnull(), col] = ['Missing' + str(i) for i in np.ones(d[col].isnull().sum()).cumsum()]
    # d[col] = d[col].astype(int)
    assert len(d[col]) == d[col].nunique()
    
df = d
df

    PID        ECID     DT_min     DT_max BasicInfo
0    P0        EC12 2023-03-21 2023-04-08       B&Z
1    P0        EC13 2023-03-21 2023-04-09       C&X
2    P0        EC16 2023-03-21 2023-04-16       A&X
3    P0        EC14 2023-03-22 2023-04-13       D&Z
4    P0       EC164 2023-03-22 2023-04-08       C&Y
..   ..         ...        ...        ...       ...
146  P6        EC15 2023-03-21 2023-04-09       B&X
147  P6        EC93 2023-03-23 2023-04-04       B&X
148  P6       EC195 2023-03-25 2023-03-25       C&Z
149  P6       EC173 2023-04-05 2023-04-13       C&W
150  P7  Missing1.0        NaT        NaT       NaN

[151 rows x 5 columns]

## Pin Down

In [46]:
df_proc = df[['PID', 'ECID', 'DT_min', 'DT_max', 'BasicInfo']]
df_proc

    PID        ECID     DT_min     DT_max BasicInfo
0    P0        EC12 2023-03-21 2023-04-08       B&Z
1    P0        EC13 2023-03-21 2023-04-09       C&X
2    P0        EC16 2023-03-21 2023-04-16       A&X
3    P0        EC14 2023-03-22 2023-04-13       D&Z
4    P0       EC164 2023-03-22 2023-04-08       C&Y
..   ..         ...        ...        ...       ...
146  P6        EC15 2023-03-21 2023-04-09       B&X
147  P6        EC93 2023-03-23 2023-04-04       B&X
148  P6       EC195 2023-03-25 2023-03-25       C&Z
149  P6       EC173 2023-04-05 2023-04-13       C&W
150  P7  Missing1.0        NaT        NaT       NaN

[151 rows x 5 columns]

# Save and Load

## Save

In [47]:
def convert_PID_to_PIDgroup(x, RANGE_SIZE):
    if type(x) == str:
        if 'P' in x:
            int_value = int(x.replace('P', ''))
    else:
        int_value = int(x)
    range_size = RANGE_SIZE
    group_idx = int(int_value / range_size)
    s = group_idx * range_size
    e = (group_idx + 1) * range_size - 1
    groupname = f'Group_s{s}_e{e}'
    return groupname

def write_df_to_folders(DataName, data_folder, df, IDname):
    dfy = df.copy()
    # data_folder = f'../Data/B-EHRDataSet/{DataName}'
    if not os.path.exists(data_folder):
        os.makedirs(data_folder)

    dfy['GroupName'] = dfy[IDname].apply(lambda x: convert_PID_to_PIDgroup(x , RANGE_SIZE))
    for groupname, dfx in dfy.groupby('GroupName'):
        file = os.path.join(data_folder, f'{groupname}.p')
        # print(file)
        dfx = dfx.drop(columns= ['GroupName'])
        dfx.to_pickle(file)
        
RANGE_SIZE = 10000

In [48]:
# the folder to save the Record.
###############
RecName = 'EC'
###############





rec_folder = 'Data/ProcData/RecFolder'
IDname = 'PID' # always be PID, not review ID or other ID.

fullrec_folder = os.path.join(rec_folder, RecName)
print(fullrec_folder, '<----- fullrec_folder to save the records')
if not os.path.exists(fullrec_folder): os.makedirs(fullrec_folder)

Data/ProcData/RecFolder/EC <----- fullrec_folder to save the records