In [1]:
import os
print(os.getcwd())

/Users/xiruihan/Desktop/RecFldGrn-main/1-RecFld

In [2]:
%cd ..

/Users/xiruihan/Desktop/RecFldGrn-main

# Load Data


## Load Raw

In [3]:
import os 
import pandas as pd
import numpy as np

RecName = 'EC'
folder = 'data/Simulations/'
raw_file_path =  os.path.join(folder, RecName) + '.csv'
print(raw_file_path)

data/Simulations/EC.csv

In [4]:
RecName = 'EC'
# load all records
df = pd.read_csv(raw_file_path)
df

    PID   ECID      DT_min      DT_max BasicInfo
0    P0   EC18  2023-03-18  2023-04-16       D&X
1    P0  EC140  2023-03-19  2023-04-05       D&X
2    P0   EC23  2023-03-19  2023-04-16       C&W
3    P0  EC141  2023-03-20  2023-04-16       C&Z
4    P0  EC142  2023-03-20  2023-04-15       B&W
..   ..    ...         ...         ...       ...
220  P6   EC15  2023-03-21  2023-04-09       B&X
221  P6   EC93  2023-03-23  2023-04-04       B&X
222  P6  EC195  2023-03-25  2023-03-25       C&Z
223  P6  EC173  2023-04-05  2023-04-13       C&W
224  P7   EC17  2023-03-18  2023-04-06       A&W

[225 rows x 5 columns]

## Select Columns

In [5]:
parent_ids = ['PID']
focal_ids = ['ECID']


selected_cols = ['DT_min', 'DT_max', 'BasicInfo']

In [6]:
df = df[parent_ids + focal_ids + selected_cols]
df

    PID   ECID      DT_min      DT_max BasicInfo
0    P0   EC18  2023-03-18  2023-04-16       D&X
1    P0  EC140  2023-03-19  2023-04-05       D&X
2    P0   EC23  2023-03-19  2023-04-16       C&W
3    P0  EC141  2023-03-20  2023-04-16       C&Z
4    P0  EC142  2023-03-20  2023-04-15       B&W
..   ..    ...         ...         ...       ...
220  P6   EC15  2023-03-21  2023-04-09       B&X
221  P6   EC93  2023-03-23  2023-04-04       B&X
222  P6  EC195  2023-03-25  2023-03-25       C&Z
223  P6  EC173  2023-04-05  2023-04-13       C&W
224  P7   EC17  2023-03-18  2023-04-06       A&W

[225 rows x 5 columns]

## Basic Filtering

In [7]:
# > 2023-03-15

In [8]:
df['DT_min'] = pd.to_datetime(df['DT_min'])
df['DT_max'] = pd.to_datetime(df['DT_max'])


# selection = df['DT_min'] > pd.to_datetime('2023-03-20')
# df = df[selection].reset_index(drop= True)
df

    PID   ECID     DT_min     DT_max BasicInfo
0    P0   EC18 2023-03-18 2023-04-16       D&X
1    P0  EC140 2023-03-19 2023-04-05       D&X
2    P0   EC23 2023-03-19 2023-04-16       C&W
3    P0  EC141 2023-03-20 2023-04-16       C&Z
4    P0  EC142 2023-03-20 2023-04-15       B&W
..   ..    ...        ...        ...       ...
220  P6   EC15 2023-03-21 2023-04-09       B&X
221  P6   EC93 2023-03-23 2023-04-04       B&X
222  P6  EC195 2023-03-25 2023-03-25       C&Z
223  P6  EC173 2023-04-05 2023-04-13       C&W
224  P7   EC17 2023-03-18 2023-04-06       A&W

[225 rows x 5 columns]

In [9]:
# df['PID'].value_counts()

## DF Rec Raw

In [10]:
df_RecRaw = df
df_RecRaw

    PID   ECID     DT_min     DT_max BasicInfo
0    P0   EC18 2023-03-18 2023-04-16       D&X
1    P0  EC140 2023-03-19 2023-04-05       D&X
2    P0   EC23 2023-03-19 2023-04-16       C&W
3    P0  EC141 2023-03-20 2023-04-16       C&Z
4    P0  EC142 2023-03-20 2023-04-15       B&W
..   ..    ...        ...        ...       ...
220  P6   EC15 2023-03-21 2023-04-09       B&X
221  P6   EC93 2023-03-23 2023-04-04       B&X
222  P6  EC195 2023-03-25 2023-03-25       C&Z
223  P6  EC173 2023-04-05 2023-04-13       C&W
224  P7   EC17 2023-03-18 2023-04-06       A&W

[225 rows x 5 columns]

# Fields in Record

## Field: DT_min

In [11]:
df['DT_min']

0     2023-03-18
1     2023-03-19
2     2023-03-19
3     2023-03-20
4     2023-03-20
         ...
220   2023-03-21
221   2023-03-23
222   2023-03-25
223   2023-04-05
224   2023-03-18
Name: DT_min, Length: 225, dtype: datetime64[ns]

## Field: DT_max

In [12]:
df['DT_max']

0     2023-04-16
1     2023-04-05
2     2023-04-16
3     2023-04-16
4     2023-04-15
         ...
220   2023-04-09
221   2023-04-04
222   2023-03-25
223   2023-04-13
224   2023-04-06
Name: DT_max, Length: 225, dtype: datetime64[ns]

## Field: BasicInfo

In [13]:
df['BasicInfo']

0      D&X
1      D&X
2      C&W
3      C&Z
4      B&W
      ...
220    B&X
221    B&X
222    C&Z
223    C&W
224    A&W
Name: BasicInfo, Length: 225, dtype: object

## Call Parents

In [14]:
def load_df_data_from_folder(data_folder, IDName):
    file_list = os.listdir(data_folder)
    # file_lis
    df = pd.concat([pd.read_pickle(os.path.join(data_folder, i)) for i in file_list if '.p' in i]).reset_index(drop = True)
    # df = df.sort_values(IDName).reset_index(drop = True)
    return df# .shape


# EC -> P
fullrec_folder = 'data/ProcData/RecFolder/P'
df_Pat =  load_df_data_from_folder(fullrec_folder, 'PID')[['PID']]
print(df_Pat.shape)
df_Pat.head()
print(df_Pat)

(8, 1)
  PID
0  P0
1  P1
2  P2
3  P3
4  P4
5  P5
6  P6
7  P7

In [15]:
df_RecRaw# ['PID'].value_counts()

    PID   ECID     DT_min     DT_max BasicInfo
0    P0   EC18 2023-03-18 2023-04-16       D&X
1    P0  EC140 2023-03-19 2023-04-05       D&X
2    P0   EC23 2023-03-19 2023-04-16       C&W
3    P0  EC141 2023-03-20 2023-04-16       C&Z
4    P0  EC142 2023-03-20 2023-04-15       B&W
..   ..    ...        ...        ...       ...
220  P6   EC15 2023-03-21 2023-04-09       B&X
221  P6   EC93 2023-03-23 2023-04-04       B&X
222  P6  EC195 2023-03-25 2023-03-25       C&Z
223  P6  EC173 2023-04-05 2023-04-13       C&W
224  P7   EC17 2023-03-18 2023-04-06       A&W

[225 rows x 5 columns]

In [16]:
parent_ids

['PID']

In [17]:
df = pd.merge(df_Pat, df_RecRaw, on = parent_ids, how = 'left')
df

    PID   ECID     DT_min     DT_max BasicInfo
0    P0   EC18 2023-03-18 2023-04-16       D&X
1    P0  EC140 2023-03-19 2023-04-05       D&X
2    P0   EC23 2023-03-19 2023-04-16       C&W
3    P0  EC141 2023-03-20 2023-04-16       C&Z
4    P0  EC142 2023-03-20 2023-04-15       B&W
..   ..    ...        ...        ...       ...
220  P6   EC15 2023-03-21 2023-04-09       B&X
221  P6   EC93 2023-03-23 2023-04-04       B&X
222  P6  EC195 2023-03-25 2023-03-25       C&Z
223  P6  EC173 2023-04-05 2023-04-13       C&W
224  P7   EC17 2023-03-18 2023-04-06       A&W

[225 rows x 5 columns]

In [18]:
import numpy as np

d = df
for col in focal_ids: 
    d.loc[d[col].isnull(), col] = ['Missing' + str(i) for i in np.ones(d[col].isnull().sum()).cumsum()]
    # d[col] = d[col].astype(int)
    assert len(d[col]) == d[col].nunique()
    
df = d
df

    PID   ECID     DT_min     DT_max BasicInfo
0    P0   EC18 2023-03-18 2023-04-16       D&X
1    P0  EC140 2023-03-19 2023-04-05       D&X
2    P0   EC23 2023-03-19 2023-04-16       C&W
3    P0  EC141 2023-03-20 2023-04-16       C&Z
4    P0  EC142 2023-03-20 2023-04-15       B&W
..   ..    ...        ...        ...       ...
220  P6   EC15 2023-03-21 2023-04-09       B&X
221  P6   EC93 2023-03-23 2023-04-04       B&X
222  P6  EC195 2023-03-25 2023-03-25       C&Z
223  P6  EC173 2023-04-05 2023-04-13       C&W
224  P7   EC17 2023-03-18 2023-04-06       A&W

[225 rows x 5 columns]

## Pin Down

In [19]:
df_proc = df[['PID', 'ECID', 'DT_min', 'DT_max', 'BasicInfo']]
df_proc

    PID   ECID     DT_min     DT_max BasicInfo
0    P0   EC18 2023-03-18 2023-04-16       D&X
1    P0  EC140 2023-03-19 2023-04-05       D&X
2    P0   EC23 2023-03-19 2023-04-16       C&W
3    P0  EC141 2023-03-20 2023-04-16       C&Z
4    P0  EC142 2023-03-20 2023-04-15       B&W
..   ..    ...        ...        ...       ...
220  P6   EC15 2023-03-21 2023-04-09       B&X
221  P6   EC93 2023-03-23 2023-04-04       B&X
222  P6  EC195 2023-03-25 2023-03-25       C&Z
223  P6  EC173 2023-04-05 2023-04-13       C&W
224  P7   EC17 2023-03-18 2023-04-06       A&W

[225 rows x 5 columns]

# Save and Load

## Save

In [20]:
def convert_PID_to_PIDgroup(x, RANGE_SIZE):
    if type(x) == str:
        if 'P' in x:
            int_value = int(x.replace('P', ''))
    else:
        int_value = int(x)
    range_size = RANGE_SIZE
    group_idx = int(int_value / range_size)
    s = group_idx * range_size
    e = (group_idx + 1) * range_size - 1
    groupname = f'Group_s{s}_e{e}'
    return groupname

def write_df_to_folders(DataName, data_folder, df, IDname):
    dfy = df.copy()
    # data_folder = f'../Data/B-EHRDataSet/{DataName}'
    if not os.path.exists(data_folder):
        os.makedirs(data_folder)

    dfy['GroupName'] = dfy[IDname].apply(lambda x: convert_PID_to_PIDgroup(x , RANGE_SIZE))
    for groupname, dfx in dfy.groupby('GroupName'):
        file = os.path.join(data_folder, f'{groupname}.p')
        # print(file)
        dfx = dfx.drop(columns= ['GroupName'])
        dfx.to_pickle(file)
        
RANGE_SIZE = 10000

In [21]:
# the folder to save the Record.
###############
RecName = 'EC'
###############





rec_folder = 'data/ProcData/RecFolder'
IDname = 'PID' # always be PID, not review ID or other ID.

fullrec_folder = os.path.join(rec_folder, RecName)
print(fullrec_folder, '<----- fullrec_folder to save the records')
if not os.path.exists(fullrec_folder): os.makedirs(fullrec_folder)

data/ProcData/RecFolder/EC <----- fullrec_folder to save the records

In [22]:
df = df_proc

write_df_to_folders(RecName, fullrec_folder, df, IDname)

## Load

In [23]:
def load_df_data_from_folder(data_folder, IDName):
    file_list = os.listdir(data_folder)
    # file_lis
    df = pd.concat([pd.read_pickle(os.path.join(data_folder, i)) for i in file_list if '.p' in i]).reset_index(drop = True)
    # df = df.sort_values(IDName).reset_index(drop = True)
    return df# .shape

In [24]:
IDName = 'PID'
print(fullrec_folder)
df = load_df_data_from_folder(fullrec_folder, IDName)
print(df.shape)
df.head()
df

data/ProcData/RecFolder/EC
(225, 5)

    PID   ECID     DT_min     DT_max BasicInfo
0    P0   EC18 2023-03-18 2023-04-16       D&X
1    P0  EC140 2023-03-19 2023-04-05       D&X
2    P0   EC23 2023-03-19 2023-04-16       C&W
3    P0  EC141 2023-03-20 2023-04-16       C&Z
4    P0  EC142 2023-03-20 2023-04-15       B&W
..   ..    ...        ...        ...       ...
220  P6   EC15 2023-03-21 2023-04-09       B&X
221  P6   EC93 2023-03-23 2023-04-04       B&X
222  P6  EC195 2023-03-25 2023-03-25       C&Z
223  P6  EC173 2023-04-05 2023-04-13       C&W
224  P7   EC17 2023-03-18 2023-04-06       A&W

[225 rows x 5 columns]

## Load One Sample

In [25]:
def get_dfx_p_filename(IDValue, DataName, data_folder, RANGE_SIZE):
    group_name = convert_PID_to_PIDgroup(IDValue, RANGE_SIZE) 
    p_filename = f'{data_folder}/{DataName}/{group_name}.p'
    return p_filename
    
def load_patient_data(RID, IDValue, dfx):
    dfx = dfx[dfx[RID] == IDValue].reset_index(drop = True)
    return dfx

def get_dfx_from_buffer(RID, IDValue, DataName, data_folder, RANGE_SIZE, BUCKET_buffer):
    p_filename = get_dfx_p_filename(IDValue, DataName, data_folder, RANGE_SIZE)
    if p_filename not in BUCKET_buffer:
        dfx = pd.read_pickle(p_filename)
        BUCKET_buffer[p_filename] = dfx
        if len(BUCKET_buffer) > 100:
            for key in random.sample(BUCKET_buffer.keys(), 4):
                del BUCKET_buffer[key]
    else:
        dfx = BUCKET_buffer[p_filename]
    return dfx, BUCKET_buffer


class DataPoint(object):

    '''
    DataPoint: stands for one data point. 
    one instance is a patient.
    the instance of the patient could quickly the his/her record information by using `get_df_rec`.
    '''
    BUCKET_buffer = {}

    def __init__(self, RID, IDValue, data_folder, RANGE_SIZE):
        self.RID = RID
        self.IDValue = IDValue
        self.data_folder = data_folder
        self.df_rec_dict = {}
        self.RANGE_SIZE = RANGE_SIZE
        
    def get_df_rec(self, DataName):
        '''
        DataName: the name of the record, like: P, EC, BMI, PN, PNSect, etc.
        '''
        if DataName not in self.df_rec_dict:
            dfx, BUCKET_buffer = get_dfx_from_buffer(self.RID, self.IDValue, 
                                                     DataName, 
                                                     self.data_folder, 
                                                     self.RANGE_SIZE, 
                                                     self.BUCKET_buffer)
            self.BUCKET_buffer = BUCKET_buffer
            df_p = load_patient_data(self.RID, self.IDValue, dfx)
            self.df_rec_dict[DataName] = df_p
            return df_p
        else:
            return self.df_rec_dict[DataName]
        
    def __repr__(self):
        return f'<{self.RID} [{self.IDValue}]>'

In [26]:
# from recfldgrn.datapoint import PatientDP

# we want to study / explore P4 himself.

####################
RID = 'PID' # Record ID Name, always be PhyID
IDValue = 'P5'   # PhyID value
######################


data_folder = rec_folder
RANGE_SIZE = RANGE_SIZE

print(data_folder)


Pat = DataPoint(RID, IDValue, 
                data_folder, RANGE_SIZE)
Pat

data/ProcData/RecFolder

In [27]:
Pat.get_df_rec('P')

  PID  age basicInfo
0  P5   73  Female&D

In [28]:
Pat.get_df_rec('EC')

   PID   ECID     DT_min     DT_max BasicInfo
0   P5  EC129 2023-03-18 2023-04-16       D&Y
1   P5   EC76 2023-03-18 2023-04-09       D&W
2   P5   EC99 2023-03-18 2023-04-16       A&W
3   P5  EC100 2023-03-19 2023-03-26       D&X
4   P5   EC96 2023-03-19 2023-04-07       D&X
5   P5   EC97 2023-03-19 2023-04-14       D&Y
6   P5  EC103 2023-03-20 2023-04-12       A&X
7   P5  EC104 2023-03-20 2023-04-15       A&Z
8   P5   EC11 2023-03-20 2023-04-15       D&W
9   P5   EC90 2023-03-20 2023-04-16       B&X
10  P5  EC105 2023-03-21 2023-04-09       D&X
11  P5  EC133 2023-03-22 2023-04-02       D&Z
12  P5   EC94 2023-03-23 2023-04-14       D&Z
13  P5  EC134 2023-03-26 2023-04-11       B&X
14  P5   EC60 2023-03-26 2023-04-12       A&Y
15  P5  EC137 2023-03-29 2023-04-14       B&Y
16  P5  EC205 2023-04-02 2023-04-02       B&X
17  P5  EC198 2023-04-04 2023-04-04       D&Z
18  P5  EC135 2023-04-06 2023-04-15       A&Y
19  P5  EC138 2023-04-06 2023-04-12       D&X
20  P5  EC206 2023-04-06 2023-04-06       D&X
21  P5  EC200 2023-04-09 2023-04-09       C&Z
22  P5  EC199 2023-04-11 2023-04-11       B&X

In [29]:
# Pat.get_df_rec('A1C')