In [1]:
%cd ..

/Users/floydluo/Library/CloudStorage/OneDrive-JohnsHopkins/000Projects/0000-Infrastructure/0000-RecFld/RecFldGrn

# Load Data


## Load Raw

In [2]:
import os 
import pandas as pd
import numpy as np

RecName = 'EC'
folder = 'data/Simulations/'
raw_file_path =  os.path.join(folder, RecName) + '.csv'
print(raw_file_path)

data/Simulations/EC.csv

In [3]:
RecName = 'EC'
# load all records
df = pd.read_csv(raw_file_path)
df

    PID   ECID      DT_min      DT_max BasicInfo
0    P0   EC18  2023-03-18  2023-04-16       D&X
1    P0  EC140  2023-03-19  2023-04-05       D&X
2    P0   EC23  2023-03-19  2023-04-16       C&W
3    P0  EC141  2023-03-20  2023-04-16       C&Z
4    P0  EC142  2023-03-20  2023-04-15       B&W
..   ..    ...         ...         ...       ...
220  P6   EC15  2023-03-21  2023-04-09       B&X
221  P6   EC93  2023-03-23  2023-04-04       B&X
222  P6  EC195  2023-03-25  2023-03-25       C&Z
223  P6  EC173  2023-04-05  2023-04-13       C&W
224  P7   EC17  2023-03-18  2023-04-06       A&W

[225 rows x 5 columns]

## Select Columns

In [6]:
parent_ids = ['PID']
focal_ids = ['ECID']
selected_cols = ['DT_min', 'DT_max', 'BasicInfo']

In [7]:
df = df[parent_ids + focal_ids + selected_cols]
df

    PID   ECID      DT_min      DT_max BasicInfo
0    P0   EC18  2023-03-18  2023-04-16       D&X
1    P0  EC140  2023-03-19  2023-04-05       D&X
2    P0   EC23  2023-03-19  2023-04-16       C&W
3    P0  EC141  2023-03-20  2023-04-16       C&Z
4    P0  EC142  2023-03-20  2023-04-15       B&W
..   ..    ...         ...         ...       ...
220  P6   EC15  2023-03-21  2023-04-09       B&X
221  P6   EC93  2023-03-23  2023-04-04       B&X
222  P6  EC195  2023-03-25  2023-03-25       C&Z
223  P6  EC173  2023-04-05  2023-04-13       C&W
224  P7   EC17  2023-03-18  2023-04-06       A&W

[225 rows x 5 columns]

## Basic Filtering

In [8]:
# > 2023-03-15

In [10]:
df['DT_min'] = pd.to_datetime(df['DT_min'])
df['DT_max'] = pd.to_datetime(df['DT_max'])
# selection = df['DT_min'] > pd.to_datetime('2023-03-20')
# df = df[selection].reset_index(drop= True)
df

    PID   ECID     DT_min     DT_max BasicInfo
0    P0   EC18 2023-03-18 2023-04-16       D&X
1    P0  EC140 2023-03-19 2023-04-05       D&X
2    P0   EC23 2023-03-19 2023-04-16       C&W
3    P0  EC141 2023-03-20 2023-04-16       C&Z
4    P0  EC142 2023-03-20 2023-04-15       B&W
..   ..    ...        ...        ...       ...
220  P6   EC15 2023-03-21 2023-04-09       B&X
221  P6   EC93 2023-03-23 2023-04-04       B&X
222  P6  EC195 2023-03-25 2023-03-25       C&Z
223  P6  EC173 2023-04-05 2023-04-13       C&W
224  P7   EC17 2023-03-18 2023-04-06       A&W

[225 rows x 5 columns]

In [11]:
# df['PID'].value_counts()

## DF Rec Raw

In [12]:
df_RecRaw = df
df_RecRaw

    PID   ECID     DT_min     DT_max BasicInfo
0    P0   EC18 2023-03-18 2023-04-16       D&X
1    P0  EC140 2023-03-19 2023-04-05       D&X
2    P0   EC23 2023-03-19 2023-04-16       C&W
3    P0  EC141 2023-03-20 2023-04-16       C&Z
4    P0  EC142 2023-03-20 2023-04-15       B&W
..   ..    ...        ...        ...       ...
220  P6   EC15 2023-03-21 2023-04-09       B&X
221  P6   EC93 2023-03-23 2023-04-04       B&X
222  P6  EC195 2023-03-25 2023-03-25       C&Z
223  P6  EC173 2023-04-05 2023-04-13       C&W
224  P7   EC17 2023-03-18 2023-04-06       A&W

[225 rows x 5 columns]

# Fields in Record

In [13]:
df = df_RecRaw.copy()

## Field: ID

In [17]:
RecName = 'EC'
RID = RecName + 'ID'
df[RID].value_counts().max() == 1

True

## Field: DT_min

In [18]:
df['DT_min']

0     2023-03-18
1     2023-03-19
2     2023-03-19
3     2023-03-20
4     2023-03-20
         ...
220   2023-03-21
221   2023-03-23
222   2023-03-25
223   2023-04-05
224   2023-03-18
Name: DT_min, Length: 225, dtype: datetime64[ns]

## Field: DT_max

In [19]:
df['DT_max']

0     2023-04-16
1     2023-04-05
2     2023-04-16
3     2023-04-16
4     2023-04-15
         ...
220   2023-04-09
221   2023-04-04
222   2023-03-25
223   2023-04-13
224   2023-04-06
Name: DT_max, Length: 225, dtype: datetime64[ns]

## Field: BasicInfo

In [20]:
df['BasicInfo']

0      D&X
1      D&X
2      C&W
3      C&Z
4      B&W
      ...
220    B&X
221    B&X
222    C&Z
223    C&W
224    A&W
Name: BasicInfo, Length: 225, dtype: object

## Pin Down

In [21]:
df_proc = df[['PID', RID, 'DT_min', 'DT_max', 'BasicInfo']]
df_proc

    PID   ECID     DT_min     DT_max BasicInfo
0    P0   EC18 2023-03-18 2023-04-16       D&X
1    P0  EC140 2023-03-19 2023-04-05       D&X
2    P0   EC23 2023-03-19 2023-04-16       C&W
3    P0  EC141 2023-03-20 2023-04-16       C&Z
4    P0  EC142 2023-03-20 2023-04-15       B&W
..   ..    ...        ...        ...       ...
220  P6   EC15 2023-03-21 2023-04-09       B&X
221  P6   EC93 2023-03-23 2023-04-04       B&X
222  P6  EC195 2023-03-25 2023-03-25       C&Z
223  P6  EC173 2023-04-05 2023-04-13       C&W
224  P7   EC17 2023-03-18 2023-04-06       A&W

[225 rows x 5 columns]

# Save and Load

## Save

In [22]:
from recfldgrn.datapoint import convert_PID_to_PIDgroup
from recfldgrn.datapoint import RANGE_SIZE, write_df_to_folders, load_df_data_from_folder
RANGE_SIZE = 10000; IDNAME = 'PID'

In [23]:
# the folder to save the Record.
###############
RecName = RecName
df = df_proc
###############

rec_folder = 'Data/ProcData/RecFolder'
data_folder = os.path.join(rec_folder, RecName)
print(data_folder, '<----- fullrec_folder to save the records')

if not os.path.exists(data_folder): 
    os.makedirs(data_folder)

write_df_to_folders(RecName, data_folder, df, IDNAME)

Data/ProcData/RecFolder/EC <----- fullrec_folder to save the records

## Load

In [24]:
from recfldgrn.datapoint import load_df_data_with_RecName
df = load_df_data_with_RecName(rec_folder, RecName)
print(df.shape)
df.head()

(225, 5)

  PID   ECID     DT_min     DT_max BasicInfo
0  P0   EC18 2023-03-18 2023-04-16       D&X
1  P0  EC140 2023-03-19 2023-04-05       D&X
2  P0   EC23 2023-03-19 2023-04-16       C&W
3  P0  EC141 2023-03-20 2023-04-16       C&Z
4  P0  EC142 2023-03-20 2023-04-15       B&W

## Load One Sample

In [25]:
from recfldgrn.datapoint import DataPoint
####################
PIDValue = 'P5'  
######################
Pat = DataPoint(IDNAME, PIDValue, rec_folder, RANGE_SIZE)
Pat

In [26]:
Pat.get_df_rec('P')

  PID  age basicInfo
0  P5   73  Female&D

In [28]:
Pat.get_df_rec(RecName)

   PID   ECID     DT_min     DT_max BasicInfo
0   P5  EC129 2023-03-18 2023-04-16       D&Y
1   P5   EC76 2023-03-18 2023-04-09       D&W
2   P5   EC99 2023-03-18 2023-04-16       A&W
3   P5  EC100 2023-03-19 2023-03-26       D&X
4   P5   EC96 2023-03-19 2023-04-07       D&X
5   P5   EC97 2023-03-19 2023-04-14       D&Y
6   P5  EC103 2023-03-20 2023-04-12       A&X
7   P5  EC104 2023-03-20 2023-04-15       A&Z
8   P5   EC11 2023-03-20 2023-04-15       D&W
9   P5   EC90 2023-03-20 2023-04-16       B&X
10  P5  EC105 2023-03-21 2023-04-09       D&X
11  P5  EC133 2023-03-22 2023-04-02       D&Z
12  P5   EC94 2023-03-23 2023-04-14       D&Z
13  P5  EC134 2023-03-26 2023-04-11       B&X
14  P5   EC60 2023-03-26 2023-04-12       A&Y
15  P5  EC137 2023-03-29 2023-04-14       B&Y
16  P5  EC205 2023-04-02 2023-04-02       B&X
17  P5  EC198 2023-04-04 2023-04-04       D&Z
18  P5  EC135 2023-04-06 2023-04-15       A&Y
19  P5  EC138 2023-04-06 2023-04-12       D&X
20  P5  EC206 2023-04-06 2023-04-06       D&X
21  P5  EC200 2023-04-09 2023-04-09       C&Z
22  P5  EC199 2023-04-11 2023-04-11       B&X