In [1]:
%cd ..

/Users/floydluo/Library/CloudStorage/OneDrive-JohnsHopkins/000Projects/0000-Infrastructure/0000-RecFld/RecFldGrn

# Load Data

## Load Raw

In [2]:
import os 
import pandas as pd

RecName = 'A1C'
folder = 'data/Simulations/'
raw_file_path =  os.path.join(folder, RecName) + '.csv'
print(raw_file_path)

data/Simulations/A1C.csv

In [3]:
# load all records
df = pd.read_csv(raw_file_path)
df

   PID   ECID   RID          V          DT
0   P0   EC13  5050  36.499557  2023-03-27
1   P0   EC14  4651  36.247254  2023-04-06
2   P0   EC18  5801   9.260195  2023-04-08
3   P0   EC87  3542  44.569271  2023-04-09
4   P0  EC201  5800  17.660021  2023-04-12
5   P1   EC33  5799  15.500044  2023-03-25
6   P1    EC0  4649  45.309869  2023-04-02
7   P1   EC26  6204  21.664842  2023-04-06
8   P1    EC2  3541  31.810007  2023-04-06
9   P1   EC28  3897  32.831454  2023-04-08
10  P1   EC25  3896   7.628861  2023-04-10
11  P1   EC27  5048  38.356969  2023-04-13
12  P2   EC71  5770  20.662630  2023-03-19
13  P2   EC51  6171   2.577225  2023-03-25
14  P2   EC75  3861  16.653541  2023-04-08
15  P2   EC35  4616   7.850530  2023-04-11
16  P3   EC69  6202  31.077959  2023-04-15
17  P4  EC196  3500  23.831523  2023-03-31
18  P4   EC36  5382   2.313767  2023-04-13
19  P4  EC197  3499  47.156259  2023-04-14
20  P5  EC198  3879  37.447457  2023-04-04
21  P5  EC200  3524  49.140256  2023-04-09
22  P5  EC199  5409  17.241648  2023-04-11
23  P6  EC195  5056  46.861784  2023-03-25
24  P6   EC15  3546  16.714732  2023-04-09
25  P6  EC115  3898   1.220883  2023-04-12
26  P7   EC17  4555  17.246819  2023-04-06

## Select Columns

In [4]:
parent_ids = ['PID','ECID']
focal_ids = ['RID']
selected_cols = ['V', 'DT']
df = df[parent_ids + focal_ids + selected_cols]
df

   PID   ECID   RID          V          DT
0   P0   EC13  5050  36.499557  2023-03-27
1   P0   EC14  4651  36.247254  2023-04-06
2   P0   EC18  5801   9.260195  2023-04-08
3   P0   EC87  3542  44.569271  2023-04-09
4   P0  EC201  5800  17.660021  2023-04-12
5   P1   EC33  5799  15.500044  2023-03-25
6   P1    EC0  4649  45.309869  2023-04-02
7   P1   EC26  6204  21.664842  2023-04-06
8   P1    EC2  3541  31.810007  2023-04-06
9   P1   EC28  3897  32.831454  2023-04-08
10  P1   EC25  3896   7.628861  2023-04-10
11  P1   EC27  5048  38.356969  2023-04-13
12  P2   EC71  5770  20.662630  2023-03-19
13  P2   EC51  6171   2.577225  2023-03-25
14  P2   EC75  3861  16.653541  2023-04-08
15  P2   EC35  4616   7.850530  2023-04-11
16  P3   EC69  6202  31.077959  2023-04-15
17  P4  EC196  3500  23.831523  2023-03-31
18  P4   EC36  5382   2.313767  2023-04-13
19  P4  EC197  3499  47.156259  2023-04-14
20  P5  EC198  3879  37.447457  2023-04-04
21  P5  EC200  3524  49.140256  2023-04-09
22  P5  EC199  5409  17.241648  2023-04-11
23  P6  EC195  5056  46.861784  2023-03-25
24  P6   EC15  3546  16.714732  2023-04-09
25  P6  EC115  3898   1.220883  2023-04-12
26  P7   EC17  4555  17.246819  2023-04-06

## Basic Filtering

In [5]:
#nothing

## DF Rec Raw

In [6]:
df_RecRaw = df
df_RecRaw

   PID   ECID   RID          V          DT
0   P0   EC13  5050  36.499557  2023-03-27
1   P0   EC14  4651  36.247254  2023-04-06
2   P0   EC18  5801   9.260195  2023-04-08
3   P0   EC87  3542  44.569271  2023-04-09
4   P0  EC201  5800  17.660021  2023-04-12
5   P1   EC33  5799  15.500044  2023-03-25
6   P1    EC0  4649  45.309869  2023-04-02
7   P1   EC26  6204  21.664842  2023-04-06
8   P1    EC2  3541  31.810007  2023-04-06
9   P1   EC28  3897  32.831454  2023-04-08
10  P1   EC25  3896   7.628861  2023-04-10
11  P1   EC27  5048  38.356969  2023-04-13
12  P2   EC71  5770  20.662630  2023-03-19
13  P2   EC51  6171   2.577225  2023-03-25
14  P2   EC75  3861  16.653541  2023-04-08
15  P2   EC35  4616   7.850530  2023-04-11
16  P3   EC69  6202  31.077959  2023-04-15
17  P4  EC196  3500  23.831523  2023-03-31
18  P4   EC36  5382   2.313767  2023-04-13
19  P4  EC197  3499  47.156259  2023-04-14
20  P5  EC198  3879  37.447457  2023-04-04
21  P5  EC200  3524  49.140256  2023-04-09
22  P5  EC199  5409  17.241648  2023-04-11
23  P6  EC195  5056  46.861784  2023-03-25
24  P6   EC15  3546  16.714732  2023-04-09
25  P6  EC115  3898   1.220883  2023-04-12
26  P7   EC17  4555  17.246819  2023-04-06

# Fields in Records

In [7]:
df = df_RecRaw.copy()

## Field: ID

In [9]:
RecName = 'A1C'
RID = RecName + 'ID'
df = df.rename(columns = {'RID': RID})
assert df[RID].value_counts().max() == 1
df.head()

  PID   ECID  A1CID          V          DT
0  P0   EC13   5050  36.499557  2023-03-27
1  P0   EC14   4651  36.247254  2023-04-06
2  P0   EC18   5801   9.260195  2023-04-08
3  P0   EC87   3542  44.569271  2023-04-09
4  P0  EC201   5800  17.660021  2023-04-12

## Field: V

In [10]:
df['V']

0     36.499557
1     36.247254
2      9.260195
3     44.569271
4     17.660021
5     15.500044
6     45.309869
7     21.664842
8     31.810007
9     32.831454
10     7.628861
11    38.356969
12    20.662630
13     2.577225
14    16.653541
15     7.850530
16    31.077959
17    23.831523
18     2.313767
19    47.156259
20    37.447457
21    49.140256
22    17.241648
23    46.861784
24    16.714732
25     1.220883
26    17.246819
Name: V, dtype: float64

## Field: DT

In [11]:
df['DT']

0     2023-03-27
1     2023-04-06
2     2023-04-08
3     2023-04-09
4     2023-04-12
5     2023-03-25
6     2023-04-02
7     2023-04-06
8     2023-04-06
9     2023-04-08
10    2023-04-10
11    2023-04-13
12    2023-03-19
13    2023-03-25
14    2023-04-08
15    2023-04-11
16    2023-04-15
17    2023-03-31
18    2023-04-13
19    2023-04-14
20    2023-04-04
21    2023-04-09
22    2023-04-11
23    2023-03-25
24    2023-04-09
25    2023-04-12
26    2023-04-06
Name: DT, dtype: object

## Pin Down

In [12]:
df_proc = df[['PID', 'ECID', RID, 'V','DT']]
df_proc

   PID   ECID  A1CID          V          DT
0   P0   EC13   5050  36.499557  2023-03-27
1   P0   EC14   4651  36.247254  2023-04-06
2   P0   EC18   5801   9.260195  2023-04-08
3   P0   EC87   3542  44.569271  2023-04-09
4   P0  EC201   5800  17.660021  2023-04-12
5   P1   EC33   5799  15.500044  2023-03-25
6   P1    EC0   4649  45.309869  2023-04-02
7   P1   EC26   6204  21.664842  2023-04-06
8   P1    EC2   3541  31.810007  2023-04-06
9   P1   EC28   3897  32.831454  2023-04-08
10  P1   EC25   3896   7.628861  2023-04-10
11  P1   EC27   5048  38.356969  2023-04-13
12  P2   EC71   5770  20.662630  2023-03-19
13  P2   EC51   6171   2.577225  2023-03-25
14  P2   EC75   3861  16.653541  2023-04-08
15  P2   EC35   4616   7.850530  2023-04-11
16  P3   EC69   6202  31.077959  2023-04-15
17  P4  EC196   3500  23.831523  2023-03-31
18  P4   EC36   5382   2.313767  2023-04-13
19  P4  EC197   3499  47.156259  2023-04-14
20  P5  EC198   3879  37.447457  2023-04-04
21  P5  EC200   3524  49.140256  2023-04-09
22  P5  EC199   5409  17.241648  2023-04-11
23  P6  EC195   5056  46.861784  2023-03-25
24  P6   EC15   3546  16.714732  2023-04-09
25  P6  EC115   3898   1.220883  2023-04-12
26  P7   EC17   4555  17.246819  2023-04-06

# Save and Load

## Save

In [13]:
from recfldgrn.datapoint import convert_PID_to_PIDgroup
from recfldgrn.datapoint import RANGE_SIZE, write_df_to_folders, load_df_data_from_folder
RANGE_SIZE = 10000; IDNAME = 'PID'

In [14]:
# the folder to save the Record.
###############
RecName = RecName
df = df_proc
###############

rec_folder = 'Data/ProcData/RecFolder'
data_folder = os.path.join(rec_folder, RecName)
print(data_folder, '<----- fullrec_folder to save the records')

if not os.path.exists(data_folder): 
    os.makedirs(data_folder)

write_df_to_folders(RecName, data_folder, df, IDNAME)

Data/ProcData/RecFolder/A1C <----- fullrec_folder to save the records

## Load

In [15]:
from recfldgrn.datapoint import load_df_data_with_RecName
df = load_df_data_with_RecName(rec_folder, RecName)
print(df.shape)
df.head()

(27, 5)

  PID   ECID  A1CID          V          DT
0  P0   EC13   5050  36.499557  2023-03-27
1  P0   EC14   4651  36.247254  2023-04-06
2  P0   EC18   5801   9.260195  2023-04-08
3  P0   EC87   3542  44.569271  2023-04-09
4  P0  EC201   5800  17.660021  2023-04-12

## Load One Sample

In [16]:
from recfldgrn.datapoint import DataPoint
####################
PIDValue = 'P5'  
######################
Pat = DataPoint(IDNAME, PIDValue, rec_folder, RANGE_SIZE)
Pat

In [17]:
Pat.get_df_rec('A1C')

  PID   ECID  A1CID          V          DT
0  P5  EC198   3879  37.447457  2023-04-04
1  P5  EC200   3524  49.140256  2023-04-09
2  P5  EC199   5409  17.241648  2023-04-11