In [1]:
%cd ..

/Users/floydluo/Library/CloudStorage/GoogleDrive-jjluo@terpmail.umd.edu/My Drive/0-Research-Project/MedStar/MS_CODE/RecFldGrn

# Load Data

## Load Raw

In [2]:
import os 
import pandas as pd

RecName = 'A1C'
folder = 'data/Simulations/'
raw_file_path =  os.path.join(folder, RecName) + '.csv'
print(raw_file_path)

data/Simulations/A1C.csv

In [3]:

# load all records
df = pd.read_csv(raw_file_path)
df

   PID   ECID   RID          V          DT
0   P0   EC13  5050  36.499557  2023-03-27
1   P0   EC14  4651  36.247254  2023-04-06
2   P0   EC18  5801   9.260195  2023-04-08
3   P0   EC87  3542  44.569271  2023-04-09
4   P0  EC201  5800  17.660021  2023-04-12
5   P1   EC33  5799  15.500044  2023-03-25
6   P1    EC0  4649  45.309869  2023-04-02
7   P1   EC26  6204  21.664842  2023-04-06
8   P1    EC2  3541  31.810007  2023-04-06
9   P1   EC28  3897  32.831454  2023-04-08
10  P1   EC25  3896   7.628861  2023-04-10
11  P1   EC27  5048  38.356969  2023-04-13
12  P2   EC71  5770  20.662630  2023-03-19
13  P2   EC51  6171   2.577225  2023-03-25
14  P2   EC75  3861  16.653541  2023-04-08
15  P2   EC35  4616   7.850530  2023-04-11
16  P3   EC69  6202  31.077959  2023-04-15
17  P4  EC196  3500  23.831523  2023-03-31
18  P4   EC36  5382   2.313767  2023-04-13
19  P4  EC197  3499  47.156259  2023-04-14
20  P5  EC198  3879  37.447457  2023-04-04
21  P5  EC200  3524  49.140256  2023-04-09
22  P5  EC199  5409  17.241648  2023-04-11
23  P6  EC195  5056  46.861784  2023-03-25
24  P6   EC15  3546  16.714732  2023-04-09
25  P6  EC115  3898   1.220883  2023-04-12
26  P7   EC17  4555  17.246819  2023-04-06

## Select Columns

In [4]:
parent_ids = ['PID','ECID']
focal_ids = ['RID']


selected_cols = ['V', 'DT']

df = df[parent_ids + focal_ids + selected_cols]
df

   PID   ECID   RID          V          DT
0   P0   EC13  5050  36.499557  2023-03-27
1   P0   EC14  4651  36.247254  2023-04-06
2   P0   EC18  5801   9.260195  2023-04-08
3   P0   EC87  3542  44.569271  2023-04-09
4   P0  EC201  5800  17.660021  2023-04-12
5   P1   EC33  5799  15.500044  2023-03-25
6   P1    EC0  4649  45.309869  2023-04-02
7   P1   EC26  6204  21.664842  2023-04-06
8   P1    EC2  3541  31.810007  2023-04-06
9   P1   EC28  3897  32.831454  2023-04-08
10  P1   EC25  3896   7.628861  2023-04-10
11  P1   EC27  5048  38.356969  2023-04-13
12  P2   EC71  5770  20.662630  2023-03-19
13  P2   EC51  6171   2.577225  2023-03-25
14  P2   EC75  3861  16.653541  2023-04-08
15  P2   EC35  4616   7.850530  2023-04-11
16  P3   EC69  6202  31.077959  2023-04-15
17  P4  EC196  3500  23.831523  2023-03-31
18  P4   EC36  5382   2.313767  2023-04-13
19  P4  EC197  3499  47.156259  2023-04-14
20  P5  EC198  3879  37.447457  2023-04-04
21  P5  EC200  3524  49.140256  2023-04-09
22  P5  EC199  5409  17.241648  2023-04-11
23  P6  EC195  5056  46.861784  2023-03-25
24  P6   EC15  3546  16.714732  2023-04-09
25  P6  EC115  3898   1.220883  2023-04-12
26  P7   EC17  4555  17.246819  2023-04-06

## Basic Filtering

In [5]:
#nothing

## DF Rec Raw

In [6]:
df_RecRaw = df
df_RecRaw

   PID   ECID   RID          V          DT
0   P0   EC13  5050  36.499557  2023-03-27
1   P0   EC14  4651  36.247254  2023-04-06
2   P0   EC18  5801   9.260195  2023-04-08
3   P0   EC87  3542  44.569271  2023-04-09
4   P0  EC201  5800  17.660021  2023-04-12
5   P1   EC33  5799  15.500044  2023-03-25
6   P1    EC0  4649  45.309869  2023-04-02
7   P1   EC26  6204  21.664842  2023-04-06
8   P1    EC2  3541  31.810007  2023-04-06
9   P1   EC28  3897  32.831454  2023-04-08
10  P1   EC25  3896   7.628861  2023-04-10
11  P1   EC27  5048  38.356969  2023-04-13
12  P2   EC71  5770  20.662630  2023-03-19
13  P2   EC51  6171   2.577225  2023-03-25
14  P2   EC75  3861  16.653541  2023-04-08
15  P2   EC35  4616   7.850530  2023-04-11
16  P3   EC69  6202  31.077959  2023-04-15
17  P4  EC196  3500  23.831523  2023-03-31
18  P4   EC36  5382   2.313767  2023-04-13
19  P4  EC197  3499  47.156259  2023-04-14
20  P5  EC198  3879  37.447457  2023-04-04
21  P5  EC200  3524  49.140256  2023-04-09
22  P5  EC199  5409  17.241648  2023-04-11
23  P6  EC195  5056  46.861784  2023-03-25
24  P6   EC15  3546  16.714732  2023-04-09
25  P6  EC115  3898   1.220883  2023-04-12
26  P7   EC17  4555  17.246819  2023-04-06

# Fields in Records

## Field: V

In [7]:
df['V']

0     36.499557
1     36.247254
2      9.260195
3     44.569271
4     17.660021
5     15.500044
6     45.309869
7     21.664842
8     31.810007
9     32.831454
10     7.628861
11    38.356969
12    20.662630
13     2.577225
14    16.653541
15     7.850530
16    31.077959
17    23.831523
18     2.313767
19    47.156259
20    37.447457
21    49.140256
22    17.241648
23    46.861784
24    16.714732
25     1.220883
26    17.246819
Name: V, dtype: float64

## Field: DT

In [8]:
df['DT']

0     2023-03-27
1     2023-04-06
2     2023-04-08
3     2023-04-09
4     2023-04-12
5     2023-03-25
6     2023-04-02
7     2023-04-06
8     2023-04-06
9     2023-04-08
10    2023-04-10
11    2023-04-13
12    2023-03-19
13    2023-03-25
14    2023-04-08
15    2023-04-11
16    2023-04-15
17    2023-03-31
18    2023-04-13
19    2023-04-14
20    2023-04-04
21    2023-04-09
22    2023-04-11
23    2023-03-25
24    2023-04-09
25    2023-04-12
26    2023-04-06
Name: DT, dtype: object

## Call Parents

In [9]:
def load_df_data_from_folder(data_folder, IDName):
    file_list = os.listdir(data_folder)
    # file_lis
    df = pd.concat([pd.read_pickle(os.path.join(data_folder, i)) for i in file_list if '.p' in i]).reset_index(drop = True)
    # df = df.sort_values(IDName).reset_index(drop = True)
    return df# .shape

fullrec_folder = 'data/ProcData/RecFolder/EC'
df_Pat = load_df_data_from_folder(fullrec_folder, 'ECID')[['PID', 'ECID']]
print(df_Pat.shape)
df_Pat.head()
print(df_Pat)


df = pd.merge(df_Pat, df_RecRaw, on = parent_ids, how = 'left')
df

(225, 2)
    PID   ECID
0    P0   EC18
1    P0  EC140
2    P0   EC23
3    P0  EC141
4    P0  EC142
..   ..    ...
220  P6   EC15
221  P6   EC93
222  P6  EC195
223  P6  EC173
224  P7   EC17

[225 rows x 2 columns]

    PID   ECID     RID          V          DT
0    P0   EC18  5801.0   9.260195  2023-04-08
1    P0  EC140     NaN        NaN         NaN
2    P0   EC23     NaN        NaN         NaN
3    P0  EC141     NaN        NaN         NaN
4    P0  EC142     NaN        NaN         NaN
..   ..    ...     ...        ...         ...
220  P6   EC15  3546.0  16.714732  2023-04-09
221  P6   EC93     NaN        NaN         NaN
222  P6  EC195  5056.0  46.861784  2023-03-25
223  P6  EC173     NaN        NaN         NaN
224  P7   EC17  4555.0  17.246819  2023-04-06

[225 rows x 5 columns]

In [10]:
import numpy as np

d = df
for col in focal_ids: 
    d.loc[d[col].isnull(), col] = ['Missing' + str(i) for i in np.ones(d[col].isnull().sum()).cumsum()]
    # d[col] = d[col].astype(int)
    assert len(d[col]) == d[col].nunique()
    
df = d
df

    PID   ECID           RID          V          DT
0    P0   EC18        5801.0   9.260195  2023-04-08
1    P0  EC140    Missing1.0        NaN         NaN
2    P0   EC23    Missing2.0        NaN         NaN
3    P0  EC141    Missing3.0        NaN         NaN
4    P0  EC142    Missing4.0        NaN         NaN
..   ..    ...           ...        ...         ...
220  P6   EC15        3546.0  16.714732  2023-04-09
221  P6   EC93  Missing197.0        NaN         NaN
222  P6  EC195        5056.0  46.861784  2023-03-25
223  P6  EC173  Missing198.0        NaN         NaN
224  P7   EC17        4555.0  17.246819  2023-04-06

[225 rows x 5 columns]

## Pin Down

In [11]:
df_proc = df[['PID', 'ECID', 'RID', 'V','DT']]
df_proc

    PID   ECID           RID          V          DT
0    P0   EC18        5801.0   9.260195  2023-04-08
1    P0  EC140    Missing1.0        NaN         NaN
2    P0   EC23    Missing2.0        NaN         NaN
3    P0  EC141    Missing3.0        NaN         NaN
4    P0  EC142    Missing4.0        NaN         NaN
..   ..    ...           ...        ...         ...
220  P6   EC15        3546.0  16.714732  2023-04-09
221  P6   EC93  Missing197.0        NaN         NaN
222  P6  EC195        5056.0  46.861784  2023-03-25
223  P6  EC173  Missing198.0        NaN         NaN
224  P7   EC17        4555.0  17.246819  2023-04-06

[225 rows x 5 columns]

# Save and Load

## Save

In [12]:
def convert_PID_to_PIDgroup(x, RANGE_SIZE):
    if type(x) == str:
        if 'P' in x:
            int_value = int(x.replace('P', ''))
    else:
        int_value = int(x)
    range_size = RANGE_SIZE
    group_idx = int(int_value / range_size)
    s = group_idx * range_size
    e = (group_idx + 1) * range_size - 1
    groupname = f'Group_s{s}_e{e}'
    return groupname

def write_df_to_folders(DataName, data_folder, df, IDname):
    dfy = df.copy()
    # data_folder = f'../Data/B-EHRDataSet/{DataName}'
    if not os.path.exists(data_folder):
        os.makedirs(data_folder)

    dfy['GroupName'] = dfy[IDname].apply(lambda x: convert_PID_to_PIDgroup(x , RANGE_SIZE))
    for groupname, dfx in dfy.groupby('GroupName'):
        file = os.path.join(data_folder, f'{groupname}.p')
        # print(file)
        dfx = dfx.drop(columns= ['GroupName'])
        dfx.to_pickle(file)
        
RANGE_SIZE = 10000

In [13]:
# the folder to save the Record.
###############
RecName = 'A1C'
###############





rec_folder = 'data/ProcData/RecFolder'
IDname = 'PID' # always be PID, not review ID or other ID.

fullrec_folder = os.path.join(rec_folder, RecName)
print(fullrec_folder, '<----- fullrec_folder to save the records')
if not os.path.exists(fullrec_folder): os.makedirs(fullrec_folder)

data/ProcData/RecFolder/A1C <----- fullrec_folder to save the records

In [14]:
df = df_proc

write_df_to_folders(RecName, fullrec_folder, df, IDname)

## Load

In [15]:
def load_df_data_from_folder(data_folder, IDName):
    file_list = os.listdir(data_folder)
    # file_lis
    df = pd.concat([pd.read_pickle(os.path.join(data_folder, i)) for i in file_list if '.p' in i]).reset_index(drop = True)
    # df = df.sort_values(IDName).reset_index(drop = True)
    return df# .shape

In [16]:
IDName = 'PID'
print(fullrec_folder)
df = load_df_data_from_folder(fullrec_folder, IDName)
print(df.shape)
df.head()
df

data/ProcData/RecFolder/A1C
(225, 5)

    PID   ECID           RID          V          DT
0    P0   EC18        5801.0   9.260195  2023-04-08
1    P0  EC140    Missing1.0        NaN         NaN
2    P0   EC23    Missing2.0        NaN         NaN
3    P0  EC141    Missing3.0        NaN         NaN
4    P0  EC142    Missing4.0        NaN         NaN
..   ..    ...           ...        ...         ...
220  P6   EC15        3546.0  16.714732  2023-04-09
221  P6   EC93  Missing197.0        NaN         NaN
222  P6  EC195        5056.0  46.861784  2023-03-25
223  P6  EC173  Missing198.0        NaN         NaN
224  P7   EC17        4555.0  17.246819  2023-04-06

[225 rows x 5 columns]

## Load One Sample

In [17]:
def get_dfx_p_filename(IDValue, DataName, data_folder, RANGE_SIZE):
    group_name = convert_PID_to_PIDgroup(IDValue, RANGE_SIZE) 
    p_filename = f'{data_folder}/{DataName}/{group_name}.p'
    return p_filename
    
def load_patient_data(RID, IDValue, dfx):
    dfx = dfx[dfx[RID] == IDValue].reset_index(drop = True)
    return dfx

def get_dfx_from_buffer(RID, IDValue, DataName, data_folder, RANGE_SIZE, BUCKET_buffer):
    p_filename = get_dfx_p_filename(IDValue, DataName, data_folder, RANGE_SIZE)
    if p_filename not in BUCKET_buffer:
        dfx = pd.read_pickle(p_filename)
        BUCKET_buffer[p_filename] = dfx
        if len(BUCKET_buffer) > 100:
            for key in random.sample(BUCKET_buffer.keys(), 4):
                del BUCKET_buffer[key]
    else:
        dfx = BUCKET_buffer[p_filename]
    return dfx, BUCKET_buffer


class DataPoint(object):

    '''
    DataPoint: stands for one data point. 
    one instance is a patient.
    the instance of the patient could quickly the his/her record information by using `get_df_rec`.
    '''
    BUCKET_buffer = {}

    def __init__(self, RID, IDValue, data_folder, RANGE_SIZE):
        self.RID = RID
        self.IDValue = IDValue
        self.data_folder = data_folder
        self.df_rec_dict = {}
        self.RANGE_SIZE = RANGE_SIZE
        
    def get_df_rec(self, DataName):
        '''
        DataName: the name of the record, like: P, EC, BMI, PN, PNSect, etc.
        '''
        if DataName not in self.df_rec_dict:
            dfx, BUCKET_buffer = get_dfx_from_buffer(self.RID, self.IDValue, 
                                                     DataName, 
                                                     self.data_folder, 
                                                     self.RANGE_SIZE, 
                                                     self.BUCKET_buffer)
            self.BUCKET_buffer = BUCKET_buffer
            df_p = load_patient_data(self.RID, self.IDValue, dfx)
            self.df_rec_dict[DataName] = df_p
            return df_p
        else:
            return self.df_rec_dict[DataName]
        
    def __repr__(self):
        return f'<{self.RID} [{self.IDValue}]>'

In [18]:
# from recfldgrn.datapoint import PatientDP

# we want to study / explore P4 himself.

####################
RID = 'PID' # Record ID Name, always be PhyID
IDValue = 'P5'   # PhyID value
######################


data_folder = rec_folder
RANGE_SIZE = RANGE_SIZE

print(data_folder)


Pat = DataPoint(RID, IDValue, 
                data_folder, RANGE_SIZE)
Pat

data/ProcData/RecFolder

In [19]:
Pat.get_df_rec('A1C')

   PID   ECID           RID          V          DT
0   P5  EC129  Missing175.0        NaN         NaN
1   P5   EC76  Missing176.0        NaN         NaN
2   P5   EC99  Missing177.0        NaN         NaN
3   P5  EC100  Missing178.0        NaN         NaN
4   P5   EC96  Missing179.0        NaN         NaN
5   P5   EC97  Missing180.0        NaN         NaN
6   P5  EC103  Missing181.0        NaN         NaN
7   P5  EC104  Missing182.0        NaN         NaN
8   P5   EC11  Missing183.0        NaN         NaN
9   P5   EC90  Missing184.0        NaN         NaN
10  P5  EC105  Missing185.0        NaN         NaN
11  P5  EC133  Missing186.0        NaN         NaN
12  P5   EC94  Missing187.0        NaN         NaN
13  P5  EC134  Missing188.0        NaN         NaN
14  P5   EC60  Missing189.0        NaN         NaN
15  P5  EC137  Missing190.0        NaN         NaN
16  P5  EC205  Missing191.0        NaN         NaN
17  P5  EC198        3879.0  37.447457  2023-04-04
18  P5  EC135  Missing192.0        NaN         NaN
19  P5  EC138  Missing193.0        NaN         NaN
20  P5  EC206  Missing194.0        NaN         NaN
21  P5  EC200        3524.0  49.140256  2023-04-09
22  P5  EC199        5409.0  17.241648  2023-04-11