In [1]:
%cd ..

/Users/floydluo/Library/CloudStorage/OneDrive-JohnsHopkins/000Projects/0000-Infrastructure/0000-RecFld/RecFldGrn

# Load Data

## Load Raw

In [2]:
import os 
import pandas as pd

RecName = 'Diag'
folder = 'data/Simulations/'
raw_file_path =  os.path.join(folder, RecName) + '.csv'
print(raw_file_path)

data/Simulations/Diag.csv

In [3]:

# load all records
df = pd.read_csv(raw_file_path)
df

    PID   ECID     RID         DT  Value
0    P0  EC140  161119  2023/3/19  N91.5
1    P0   EC23  214372  2023/3/19  S53.0
2    P0  EC141  187825  2023/3/20  P24.5
3    P0  EC208  227678  2023/3/20  S21.5
4    P0   EC19  174522  2023/3/20  U59.5
..   ..    ...     ...        ...    ...
921  P6   EC15  240970   2023/4/7  M43.5
922  P7   EC17  209056  2023/3/18  S37.5
923  P7   EC17  209055  2023/3/18  J24.5
924  P7   EC17  248716  2023/3/24  J74.5
925  P7   EC17  169041  2023/3/27  M44.5

[926 rows x 5 columns]

## Select Columns

In [4]:
parent_ids = ['PID','ECID']
focal_ids = ['RID']


selected_cols = ['DT','Value']

df = df[parent_ids + focal_ids + selected_cols]
df

    PID   ECID     RID         DT  Value
0    P0  EC140  161119  2023/3/19  N91.5
1    P0   EC23  214372  2023/3/19  S53.0
2    P0  EC141  187825  2023/3/20  P24.5
3    P0  EC208  227678  2023/3/20  S21.5
4    P0   EC19  174522  2023/3/20  U59.5
..   ..    ...     ...        ...    ...
921  P6   EC15  240970   2023/4/7  M43.5
922  P7   EC17  209056  2023/3/18  S37.5
923  P7   EC17  209055  2023/3/18  J24.5
924  P7   EC17  248716  2023/3/24  J74.5
925  P7   EC17  169041  2023/3/27  M44.5

[926 rows x 5 columns]

## Basic Filtering

In [5]:
# nothing

## DF Rec Raw

In [6]:
df_RecRaw = df
df_RecRaw

    PID   ECID     RID         DT  Value
0    P0  EC140  161119  2023/3/19  N91.5
1    P0   EC23  214372  2023/3/19  S53.0
2    P0  EC141  187825  2023/3/20  P24.5
3    P0  EC208  227678  2023/3/20  S21.5
4    P0   EC19  174522  2023/3/20  U59.5
..   ..    ...     ...        ...    ...
921  P6   EC15  240970   2023/4/7  M43.5
922  P7   EC17  209056  2023/3/18  S37.5
923  P7   EC17  209055  2023/3/18  J24.5
924  P7   EC17  248716  2023/3/24  J74.5
925  P7   EC17  169041  2023/3/27  M44.5

[926 rows x 5 columns]

# Fields in Records

In [8]:
df = df_RecRaw.copy()

## Field: ID

In [9]:
RecName = 'Diag'
RID = RecName + 'ID'
df = df.rename(columns = {'RID': RID})
assert df[RID].value_counts().max() == 1
df.head()

  PID   ECID  DiagID         DT  Value
0  P0  EC140  161119  2023/3/19  N91.5
1  P0   EC23  214372  2023/3/19  S53.0
2  P0  EC141  187825  2023/3/20  P24.5
3  P0  EC208  227678  2023/3/20  S21.5
4  P0   EC19  174522  2023/3/20  U59.5

## Field: Value

In [10]:
df['Value']

0      N91.5
1      S53.0
2      P24.5
3      S21.5
4      U59.5
       ...
921    M43.5
922    S37.5
923    J24.5
924    J74.5
925    M44.5
Name: Value, Length: 926, dtype: object

## Field: DT

In [11]:
df['DT']

0      2023/3/19
1      2023/3/19
2      2023/3/20
3      2023/3/20
4      2023/3/20
         ...
921     2023/4/7
922    2023/3/18
923    2023/3/18
924    2023/3/24
925    2023/3/27
Name: DT, Length: 926, dtype: object

## Pin Down

In [12]:
df_proc = df[['PID', 'ECID', RID, 'Value','DT']]
df_proc

    PID   ECID  DiagID  Value         DT
0    P0  EC140  161119  N91.5  2023/3/19
1    P0   EC23  214372  S53.0  2023/3/19
2    P0  EC141  187825  P24.5  2023/3/20
3    P0  EC208  227678  S21.5  2023/3/20
4    P0   EC19  174522  U59.5  2023/3/20
..   ..    ...     ...    ...        ...
921  P6   EC15  240970  M43.5   2023/4/7
922  P7   EC17  209056  S37.5  2023/3/18
923  P7   EC17  209055  J24.5  2023/3/18
924  P7   EC17  248716  J74.5  2023/3/24
925  P7   EC17  169041  M44.5  2023/3/27

[926 rows x 5 columns]

# Save and Load

## Save

In [13]:
from recfldgrn.datapoint import convert_PID_to_PIDgroup
from recfldgrn.datapoint import RANGE_SIZE, write_df_to_folders, load_df_data_from_folder
RANGE_SIZE = 10000; IDNAME = 'PID'

In [14]:
# the folder to save the Record.
###############
RecName = RecName
df = df_proc
###############

rec_folder = 'Data/ProcData/RecFolder'
data_folder = os.path.join(rec_folder, RecName)
print(data_folder, '<----- fullrec_folder to save the records')

if not os.path.exists(data_folder): 
    os.makedirs(data_folder)

write_df_to_folders(RecName, data_folder, df, IDNAME)

Data/ProcData/RecFolder/Diag <----- fullrec_folder to save the records

## Load

In [15]:
from recfldgrn.datapoint import load_df_data_with_RecName
df = load_df_data_with_RecName(rec_folder, RecName)
print(df.shape)
df.head()

(926, 5)

  PID   ECID  DiagID  Value         DT
0  P0  EC140  161119  N91.5  2023/3/19
1  P0   EC23  214372  S53.0  2023/3/19
2  P0  EC141  187825  P24.5  2023/3/20
3  P0  EC208  227678  S21.5  2023/3/20
4  P0   EC19  174522  U59.5  2023/3/20

## Load One Sample

In [16]:
from recfldgrn.datapoint import DataPoint
####################
PIDValue = 'P5'  
######################
Pat = DataPoint(IDNAME, PIDValue, rec_folder, RANGE_SIZE)
Pat

In [17]:
Pat.get_df_rec('A1C')

  PID   ECID  A1CID          V          DT
0  P5  EC198   3879  37.447457  2023-04-04
1  P5  EC200   3524  49.140256  2023-04-09
2  P5  EC199   5409  17.241648  2023-04-11