In [1]:
%cd ..

/Users/xiruihan/Desktop/RecFldGrn-main

# Load Data

## Load Raw

In [2]:
import os 
import pandas as pd

RecName = 'Diag'
folder = 'data/Simulations/'
raw_file_path =  os.path.join(folder, RecName) + '.csv'
print(raw_file_path)

data/Simulations/Diag.csv

In [3]:

# load all records
df = pd.read_csv(raw_file_path)
df

    PID   ECID     RID         DT  Value
0    P0  EC140  161119  2023/3/19  N91.5
1    P0   EC23  214372  2023/3/19  S53.0
2    P0  EC141  187825  2023/3/20  P24.5
3    P0  EC208  227678  2023/3/20  S21.5
4    P0   EC19  174522  2023/3/20  U59.5
..   ..    ...     ...        ...    ...
921  P6   EC15  240970   2023/4/7  M43.5
922  P7   EC17  209056  2023/3/18  S37.5
923  P7   EC17  209055  2023/3/18  J24.5
924  P7   EC17  248716  2023/3/24  J74.5
925  P7   EC17  169041  2023/3/27  M44.5

[926 rows x 5 columns]

## Select Columns

In [4]:
parent_ids = ['PID','ECID']
focal_ids = ['RID']


selected_cols = ['DT','Value']

df = df[parent_ids + focal_ids + selected_cols]
df

    PID   ECID     RID         DT  Value
0    P0  EC140  161119  2023/3/19  N91.5
1    P0   EC23  214372  2023/3/19  S53.0
2    P0  EC141  187825  2023/3/20  P24.5
3    P0  EC208  227678  2023/3/20  S21.5
4    P0   EC19  174522  2023/3/20  U59.5
..   ..    ...     ...        ...    ...
921  P6   EC15  240970   2023/4/7  M43.5
922  P7   EC17  209056  2023/3/18  S37.5
923  P7   EC17  209055  2023/3/18  J24.5
924  P7   EC17  248716  2023/3/24  J74.5
925  P7   EC17  169041  2023/3/27  M44.5

[926 rows x 5 columns]

## Basic Filtering

In [5]:
# nothing

## DF Rec Raw

In [6]:
df_RecRaw = df
df_RecRaw

    PID   ECID     RID         DT  Value
0    P0  EC140  161119  2023/3/19  N91.5
1    P0   EC23  214372  2023/3/19  S53.0
2    P0  EC141  187825  2023/3/20  P24.5
3    P0  EC208  227678  2023/3/20  S21.5
4    P0   EC19  174522  2023/3/20  U59.5
..   ..    ...     ...        ...    ...
921  P6   EC15  240970   2023/4/7  M43.5
922  P7   EC17  209056  2023/3/18  S37.5
923  P7   EC17  209055  2023/3/18  J24.5
924  P7   EC17  248716  2023/3/24  J74.5
925  P7   EC17  169041  2023/3/27  M44.5

[926 rows x 5 columns]

# Fields in Records

## Field: Value

In [7]:
df['Value']

0      N91.5
1      S53.0
2      P24.5
3      S21.5
4      U59.5
       ...
921    M43.5
922    S37.5
923    J24.5
924    J74.5
925    M44.5
Name: Value, Length: 926, dtype: object

## Field: DT

In [8]:
df['DT']

0      2023/3/19
1      2023/3/19
2      2023/3/20
3      2023/3/20
4      2023/3/20
         ...
921     2023/4/7
922    2023/3/18
923    2023/3/18
924    2023/3/24
925    2023/3/27
Name: DT, Length: 926, dtype: object

## Call Parents

In [9]:
def load_df_data_from_folder(data_folder, IDName):
    file_list = os.listdir(data_folder)
    # file_lis
    df = pd.concat([pd.read_pickle(os.path.join(data_folder, i)) for i in file_list if '.p' in i]).reset_index(drop = True)
    # df = df.sort_values(IDName).reset_index(drop = True)
    return df# .shape

fullrec_folder = 'data/ProcData/RecFolder/EC'
df_Pat = load_df_data_from_folder(fullrec_folder, 'ECID')[['PID', 'ECID']]
print(df_Pat.shape)
df_Pat.head()
print(df_Pat)


df = pd.merge(df_Pat, df_RecRaw, on = parent_ids, how = 'left')
df

(225, 2)
    PID   ECID
0    P0   EC18
1    P0  EC140
2    P0   EC23
3    P0  EC141
4    P0  EC142
..   ..    ...
220  P6   EC15
221  P6   EC93
222  P6  EC195
223  P6  EC173
224  P7   EC17

[225 rows x 2 columns]

    PID   ECID       RID         DT  Value
0    P0   EC18  200972.0  2023/4/10  D14.0
1    P0   EC18  227676.0  2023/4/13  J19.5
2    P0   EC18  214361.0  2023/4/16  J74.5
3    P0   EC18  200975.0   2023/4/8  I94.0
4    P0  EC140  161119.0  2023/3/19  N91.5
..   ..    ...       ...        ...    ...
929  P6  EC173  174622.0   2023/4/5  R80.5
930  P7   EC17  209056.0  2023/3/18  S37.5
931  P7   EC17  209055.0  2023/3/18  J24.5
932  P7   EC17  248716.0  2023/3/24  J74.5
933  P7   EC17  169041.0  2023/3/27  M44.5

[934 rows x 5 columns]

In [10]:
import numpy as np

d = df
for col in focal_ids: 
    d.loc[d[col].isnull(), col] = ['Missing' + str(i) for i in np.ones(d[col].isnull().sum()).cumsum()]
    # d[col] = d[col].astype(int)
    assert len(d[col]) == d[col].nunique()
    
df = d
df

    PID   ECID       RID         DT  Value
0    P0   EC18  200972.0  2023/4/10  D14.0
1    P0   EC18  227676.0  2023/4/13  J19.5
2    P0   EC18  214361.0  2023/4/16  J74.5
3    P0   EC18  200975.0   2023/4/8  I94.0
4    P0  EC140  161119.0  2023/3/19  N91.5
..   ..    ...       ...        ...    ...
929  P6  EC173  174622.0   2023/4/5  R80.5
930  P7   EC17  209056.0  2023/3/18  S37.5
931  P7   EC17  209055.0  2023/3/18  J24.5
932  P7   EC17  248716.0  2023/3/24  J74.5
933  P7   EC17  169041.0  2023/3/27  M44.5

[934 rows x 5 columns]

## Pin Down

In [11]:
df_proc = df[['PID', 'ECID', 'RID', 'Value','DT']]
df_proc

    PID   ECID       RID  Value         DT
0    P0   EC18  200972.0  D14.0  2023/4/10
1    P0   EC18  227676.0  J19.5  2023/4/13
2    P0   EC18  214361.0  J74.5  2023/4/16
3    P0   EC18  200975.0  I94.0   2023/4/8
4    P0  EC140  161119.0  N91.5  2023/3/19
..   ..    ...       ...    ...        ...
929  P6  EC173  174622.0  R80.5   2023/4/5
930  P7   EC17  209056.0  S37.5  2023/3/18
931  P7   EC17  209055.0  J24.5  2023/3/18
932  P7   EC17  248716.0  J74.5  2023/3/24
933  P7   EC17  169041.0  M44.5  2023/3/27

[934 rows x 5 columns]

# Save and Load

## Save

In [12]:
def convert_PID_to_PIDgroup(x, RANGE_SIZE):
    if type(x) == str:
        if 'P' in x:
            int_value = int(x.replace('P', ''))
    else:
        int_value = int(x)
    range_size = RANGE_SIZE
    group_idx = int(int_value / range_size)
    s = group_idx * range_size
    e = (group_idx + 1) * range_size - 1
    groupname = f'Group_s{s}_e{e}'
    return groupname

def write_df_to_folders(DataName, data_folder, df, IDname):
    dfy = df.copy()
    # data_folder = f'../Data/B-EHRDataSet/{DataName}'
    if not os.path.exists(data_folder):
        os.makedirs(data_folder)

    dfy['GroupName'] = dfy[IDname].apply(lambda x: convert_PID_to_PIDgroup(x , RANGE_SIZE))
    for groupname, dfx in dfy.groupby('GroupName'):
        file = os.path.join(data_folder, f'{groupname}.p')
        # print(file)
        dfx = dfx.drop(columns= ['GroupName'])
        dfx.to_pickle(file)
        
RANGE_SIZE = 10000

In [13]:
# the folder to save the Record.
###############
RecName = 'Diag'
###############





rec_folder = 'data/ProcData/RecFolder'
IDname = 'PID' # always be PID, not review ID or other ID.

fullrec_folder = os.path.join(rec_folder, RecName)
print(fullrec_folder, '<----- fullrec_folder to save the records')
if not os.path.exists(fullrec_folder): os.makedirs(fullrec_folder)

data/ProcData/RecFolder/Diag <----- fullrec_folder to save the records

In [14]:
df = df_proc

write_df_to_folders(RecName, fullrec_folder, df, IDname)

## Load

In [15]:
def load_df_data_from_folder(data_folder, IDName):
    file_list = os.listdir(data_folder)
    # file_lis
    df = pd.concat([pd.read_pickle(os.path.join(data_folder, i)) for i in file_list if '.p' in i]).reset_index(drop = True)
    # df = df.sort_values(IDName).reset_index(drop = True)
    return df# .shape

In [16]:
IDName = 'PID'
print(fullrec_folder)
df = load_df_data_from_folder(fullrec_folder, IDName)
print(df.shape)
df.head()
df

data/ProcData/RecFolder/Diag
(934, 5)

    PID   ECID       RID  Value         DT
0    P0   EC18  200972.0  D14.0  2023/4/10
1    P0   EC18  227676.0  J19.5  2023/4/13
2    P0   EC18  214361.0  J74.5  2023/4/16
3    P0   EC18  200975.0  I94.0   2023/4/8
4    P0  EC140  161119.0  N91.5  2023/3/19
..   ..    ...       ...    ...        ...
929  P6  EC173  174622.0  R80.5   2023/4/5
930  P7   EC17  209056.0  S37.5  2023/3/18
931  P7   EC17  209055.0  J24.5  2023/3/18
932  P7   EC17  248716.0  J74.5  2023/3/24
933  P7   EC17  169041.0  M44.5  2023/3/27

[934 rows x 5 columns]

## Load One Sample

In [17]:
def get_dfx_p_filename(IDValue, DataName, data_folder, RANGE_SIZE):
    group_name = convert_PID_to_PIDgroup(IDValue, RANGE_SIZE) 
    p_filename = f'{data_folder}/{DataName}/{group_name}.p'
    return p_filename
    
def load_patient_data(RID, IDValue, dfx):
    dfx = dfx[dfx[RID] == IDValue].reset_index(drop = True)
    return dfx

def get_dfx_from_buffer(RID, IDValue, DataName, data_folder, RANGE_SIZE, BUCKET_buffer):
    p_filename = get_dfx_p_filename(IDValue, DataName, data_folder, RANGE_SIZE)
    if p_filename not in BUCKET_buffer:
        dfx = pd.read_pickle(p_filename)
        BUCKET_buffer[p_filename] = dfx
        if len(BUCKET_buffer) > 100:
            for key in random.sample(BUCKET_buffer.keys(), 4):
                del BUCKET_buffer[key]
    else:
        dfx = BUCKET_buffer[p_filename]
    return dfx, BUCKET_buffer


class DataPoint(object):

    '''
    DataPoint: stands for one data point. 
    one instance is a patient.
    the instance of the patient could quickly the his/her record information by using `get_df_rec`.
    '''
    BUCKET_buffer = {}

    def __init__(self, RID, IDValue, data_folder, RANGE_SIZE):
        self.RID = RID
        self.IDValue = IDValue
        self.data_folder = data_folder
        self.df_rec_dict = {}
        self.RANGE_SIZE = RANGE_SIZE
        
    def get_df_rec(self, DataName):
        '''
        DataName: the name of the record, like: P, EC, BMI, PN, PNSect, etc.
        '''
        if DataName not in self.df_rec_dict:
            dfx, BUCKET_buffer = get_dfx_from_buffer(self.RID, self.IDValue, 
                                                     DataName, 
                                                     self.data_folder, 
                                                     self.RANGE_SIZE, 
                                                     self.BUCKET_buffer)
            self.BUCKET_buffer = BUCKET_buffer
            df_p = load_patient_data(self.RID, self.IDValue, dfx)
            self.df_rec_dict[DataName] = df_p
            return df_p
        else:
            return self.df_rec_dict[DataName]
        
    def __repr__(self):
        return f'<{self.RID} [{self.IDValue}]>'