In [1]:
%cd ..

/Users/floydluo/Library/CloudStorage/OneDrive-JohnsHopkins/000Projects/0000-Infrastructure/0000-RecFld/RecFldGrn

# Load Data

## Load Raw

In [2]:
import os 
import pandas as pd

RecName = 'PN'
folder = 'data/Simulations/'
raw_file_path =  os.path.join(folder, RecName) + '.csv'
print(raw_file_path)

data/Simulations/PN.csv

In [3]:
# load all records
df = pd.read_csv(raw_file_path)
df

   PID  ECID   PNID          DT
0   P0  EC18  71800  2023-03-18
1   P0  EC13  70411  2023-03-26
2   P0  EC16  70566  2023-03-31
3   P0  EC14  71802  2023-04-01
4   P0  EC19  71667  2023-04-01
5   P0  EC20  70410  2023-04-07
6   P0  EC12  71801  2023-04-08
7   P0  EC21  72374  2023-04-12
8   P1   EC2  70851  2023-03-26
9   P1   EC0  71666  2023-04-03
10  P1   EC8  72255  2023-04-14
11  P2   EC6  70513  2023-03-18
12  P2   EC4  70253  2023-03-30
13  P2   EC3  71919  2023-04-01
14  P2   EC9  70514  2023-04-03
15  P3   EC5     68  2023-03-19
16  P3   EC1    920  2023-04-11
17  P4   EC7   1074  2023-03-23
18  P4  EC10   1286  2023-04-14
19  P5  EC11    492  2023-04-15
20  P6  EC15   1335  2023-03-31
21  P7  EC17    435  2023-03-27

## Select Columns

In [4]:
parent_ids = ['PID','ECID']
focal_ids = ['PNID']


selected_cols = ['DT']

df = df[parent_ids + focal_ids + selected_cols]
df

   PID  ECID   PNID          DT
0   P0  EC18  71800  2023-03-18
1   P0  EC13  70411  2023-03-26
2   P0  EC16  70566  2023-03-31
3   P0  EC14  71802  2023-04-01
4   P0  EC19  71667  2023-04-01
5   P0  EC20  70410  2023-04-07
6   P0  EC12  71801  2023-04-08
7   P0  EC21  72374  2023-04-12
8   P1   EC2  70851  2023-03-26
9   P1   EC0  71666  2023-04-03
10  P1   EC8  72255  2023-04-14
11  P2   EC6  70513  2023-03-18
12  P2   EC4  70253  2023-03-30
13  P2   EC3  71919  2023-04-01
14  P2   EC9  70514  2023-04-03
15  P3   EC5     68  2023-03-19
16  P3   EC1    920  2023-04-11
17  P4   EC7   1074  2023-03-23
18  P4  EC10   1286  2023-04-14
19  P5  EC11    492  2023-04-15
20  P6  EC15   1335  2023-03-31
21  P7  EC17    435  2023-03-27

## Basic Filtering

In [5]:
# nothing

## DF Rec Raw

In [6]:
df_RecRaw = df
df_RecRaw

   PID  ECID   PNID          DT
0   P0  EC18  71800  2023-03-18
1   P0  EC13  70411  2023-03-26
2   P0  EC16  70566  2023-03-31
3   P0  EC14  71802  2023-04-01
4   P0  EC19  71667  2023-04-01
5   P0  EC20  70410  2023-04-07
6   P0  EC12  71801  2023-04-08
7   P0  EC21  72374  2023-04-12
8   P1   EC2  70851  2023-03-26
9   P1   EC0  71666  2023-04-03
10  P1   EC8  72255  2023-04-14
11  P2   EC6  70513  2023-03-18
12  P2   EC4  70253  2023-03-30
13  P2   EC3  71919  2023-04-01
14  P2   EC9  70514  2023-04-03
15  P3   EC5     68  2023-03-19
16  P3   EC1    920  2023-04-11
17  P4   EC7   1074  2023-03-23
18  P4  EC10   1286  2023-04-14
19  P5  EC11    492  2023-04-15
20  P6  EC15   1335  2023-03-31
21  P7  EC17    435  2023-03-27

# Fields in Records

In [7]:
df = df_RecRaw.copy()

## Field: ID

In [12]:
RecName = 'PN'
RID = RecName + 'ID'

assert df[RID].value_counts().max() == 1

df.head()

  PID  ECID   PNID          DT
0  P0  EC18  71800  2023-03-18
1  P0  EC13  70411  2023-03-26
2  P0  EC16  70566  2023-03-31
3  P0  EC14  71802  2023-04-01
4  P0  EC19  71667  2023-04-01

## Field: DT

In [13]:
df['DT']

0     2023-03-18
1     2023-03-26
2     2023-03-31
3     2023-04-01
4     2023-04-01
5     2023-04-07
6     2023-04-08
7     2023-04-12
8     2023-03-26
9     2023-04-03
10    2023-04-14
11    2023-03-18
12    2023-03-30
13    2023-04-01
14    2023-04-03
15    2023-03-19
16    2023-04-11
17    2023-03-23
18    2023-04-14
19    2023-04-15
20    2023-03-31
21    2023-03-27
Name: DT, dtype: object

## Pin Down

In [14]:
df_proc = df[['PID', 'ECID', RID, 'DT']]
df_proc

   PID  ECID   PNID          DT
0   P0  EC18  71800  2023-03-18
1   P0  EC13  70411  2023-03-26
2   P0  EC16  70566  2023-03-31
3   P0  EC14  71802  2023-04-01
4   P0  EC19  71667  2023-04-01
5   P0  EC20  70410  2023-04-07
6   P0  EC12  71801  2023-04-08
7   P0  EC21  72374  2023-04-12
8   P1   EC2  70851  2023-03-26
9   P1   EC0  71666  2023-04-03
10  P1   EC8  72255  2023-04-14
11  P2   EC6  70513  2023-03-18
12  P2   EC4  70253  2023-03-30
13  P2   EC3  71919  2023-04-01
14  P2   EC9  70514  2023-04-03
15  P3   EC5     68  2023-03-19
16  P3   EC1    920  2023-04-11
17  P4   EC7   1074  2023-03-23
18  P4  EC10   1286  2023-04-14
19  P5  EC11    492  2023-04-15
20  P6  EC15   1335  2023-03-31
21  P7  EC17    435  2023-03-27

# Save and Load

## Save

In [15]:
from recfldgrn.datapoint import convert_PID_to_PIDgroup
from recfldgrn.datapoint import RANGE_SIZE, write_df_to_folders, load_df_data_from_folder
RANGE_SIZE = 10000; IDNAME = 'PID'

In [16]:
# the folder to save the Record.
###############
RecName = RecName
df = df_proc
###############

rec_folder = 'Data/ProcData/RecFolder'
data_folder = os.path.join(rec_folder, RecName)
print(data_folder, '<----- fullrec_folder to save the records')

if not os.path.exists(data_folder): 
    os.makedirs(data_folder)

write_df_to_folders(RecName, data_folder, df, IDNAME)

Data/ProcData/RecFolder/PN <----- fullrec_folder to save the records

## Load

In [17]:
from recfldgrn.datapoint import load_df_data_with_RecName
df = load_df_data_with_RecName(rec_folder, RecName)
print(df.shape)
df.head()

(22, 4)

  PID  ECID   PNID          DT
0  P0  EC18  71800  2023-03-18
1  P0  EC13  70411  2023-03-26
2  P0  EC16  70566  2023-03-31
3  P0  EC14  71802  2023-04-01
4  P0  EC19  71667  2023-04-01

## Load One Sample

In [18]:
from recfldgrn.datapoint import DataPoint
####################
PIDValue = 'P5'  
######################
Pat = DataPoint(IDNAME, PIDValue, rec_folder, RANGE_SIZE)
Pat

In [19]:
Pat.get_df_rec(RecName)

  PID  ECID PNID          DT
0  P5  EC11  492  2023-04-15