In [1]:
%cd ..

/Users/floydluo/Library/CloudStorage/GoogleDrive-jjluo@terpmail.umd.edu/My Drive/0-Research-Project/MedStar/MS_CODE/RecFldGrn

# Load Data

## Load Raw

In [2]:
import os 
import pandas as pd

RecName = 'PN'
folder = 'data/Simulations/'
raw_file_path =  os.path.join(folder, RecName) + '.csv'
print(raw_file_path)

data/Simulations/PN.csv

In [3]:

# load all records
df = pd.read_csv(raw_file_path)
df

   PID  ECID   PNID          DT
0   P0  EC18  71800  2023-03-18
1   P0  EC13  70411  2023-03-26
2   P0  EC16  70566  2023-03-31
3   P0  EC14  71802  2023-04-01
4   P0  EC19  71667  2023-04-01
5   P0  EC20  70410  2023-04-07
6   P0  EC12  71801  2023-04-08
7   P0  EC21  72374  2023-04-12
8   P1   EC2  70851  2023-03-26
9   P1   EC0  71666  2023-04-03
10  P1   EC8  72255  2023-04-14
11  P2   EC6  70513  2023-03-18
12  P2   EC4  70253  2023-03-30
13  P2   EC3  71919  2023-04-01
14  P2   EC9  70514  2023-04-03
15  P3   EC5     68  2023-03-19
16  P3   EC1    920  2023-04-11
17  P4   EC7   1074  2023-03-23
18  P4  EC10   1286  2023-04-14
19  P5  EC11    492  2023-04-15
20  P6  EC15   1335  2023-03-31
21  P7  EC17    435  2023-03-27

## Select Columns

In [4]:
parent_ids = ['PID','ECID']
focal_ids = ['PNID']


selected_cols = ['DT']

df = df[parent_ids + focal_ids + selected_cols]
df

   PID  ECID   PNID          DT
0   P0  EC18  71800  2023-03-18
1   P0  EC13  70411  2023-03-26
2   P0  EC16  70566  2023-03-31
3   P0  EC14  71802  2023-04-01
4   P0  EC19  71667  2023-04-01
5   P0  EC20  70410  2023-04-07
6   P0  EC12  71801  2023-04-08
7   P0  EC21  72374  2023-04-12
8   P1   EC2  70851  2023-03-26
9   P1   EC0  71666  2023-04-03
10  P1   EC8  72255  2023-04-14
11  P2   EC6  70513  2023-03-18
12  P2   EC4  70253  2023-03-30
13  P2   EC3  71919  2023-04-01
14  P2   EC9  70514  2023-04-03
15  P3   EC5     68  2023-03-19
16  P3   EC1    920  2023-04-11
17  P4   EC7   1074  2023-03-23
18  P4  EC10   1286  2023-04-14
19  P5  EC11    492  2023-04-15
20  P6  EC15   1335  2023-03-31
21  P7  EC17    435  2023-03-27

## Basic Filtering

In [5]:
# nothing

## DF Rec Raw

In [6]:
df_RecRaw = df
df_RecRaw

   PID  ECID   PNID          DT
0   P0  EC18  71800  2023-03-18
1   P0  EC13  70411  2023-03-26
2   P0  EC16  70566  2023-03-31
3   P0  EC14  71802  2023-04-01
4   P0  EC19  71667  2023-04-01
5   P0  EC20  70410  2023-04-07
6   P0  EC12  71801  2023-04-08
7   P0  EC21  72374  2023-04-12
8   P1   EC2  70851  2023-03-26
9   P1   EC0  71666  2023-04-03
10  P1   EC8  72255  2023-04-14
11  P2   EC6  70513  2023-03-18
12  P2   EC4  70253  2023-03-30
13  P2   EC3  71919  2023-04-01
14  P2   EC9  70514  2023-04-03
15  P3   EC5     68  2023-03-19
16  P3   EC1    920  2023-04-11
17  P4   EC7   1074  2023-03-23
18  P4  EC10   1286  2023-04-14
19  P5  EC11    492  2023-04-15
20  P6  EC15   1335  2023-03-31
21  P7  EC17    435  2023-03-27

# Fields in Records

In [7]:
df = df_RecRaw.copy()
df['PNID'] = df['PNID'].astype(str)
df

   PID  ECID   PNID          DT
0   P0  EC18  71800  2023-03-18
1   P0  EC13  70411  2023-03-26
2   P0  EC16  70566  2023-03-31
3   P0  EC14  71802  2023-04-01
4   P0  EC19  71667  2023-04-01
5   P0  EC20  70410  2023-04-07
6   P0  EC12  71801  2023-04-08
7   P0  EC21  72374  2023-04-12
8   P1   EC2  70851  2023-03-26
9   P1   EC0  71666  2023-04-03
10  P1   EC8  72255  2023-04-14
11  P2   EC6  70513  2023-03-18
12  P2   EC4  70253  2023-03-30
13  P2   EC3  71919  2023-04-01
14  P2   EC9  70514  2023-04-03
15  P3   EC5     68  2023-03-19
16  P3   EC1    920  2023-04-11
17  P4   EC7   1074  2023-03-23
18  P4  EC10   1286  2023-04-14
19  P5  EC11    492  2023-04-15
20  P6  EC15   1335  2023-03-31
21  P7  EC17    435  2023-03-27

## Field: DT

In [8]:
df['DT']

0     2023-03-18
1     2023-03-26
2     2023-03-31
3     2023-04-01
4     2023-04-01
5     2023-04-07
6     2023-04-08
7     2023-04-12
8     2023-03-26
9     2023-04-03
10    2023-04-14
11    2023-03-18
12    2023-03-30
13    2023-04-01
14    2023-04-03
15    2023-03-19
16    2023-04-11
17    2023-03-23
18    2023-04-14
19    2023-04-15
20    2023-03-31
21    2023-03-27
Name: DT, dtype: object

## Call Parents

In [9]:
def load_df_data_from_folder(data_folder, IDName):
    file_list = os.listdir(data_folder)
    # file_lis
    df = pd.concat([pd.read_pickle(os.path.join(data_folder, i)) for i in file_list if '.p' in i]).reset_index(drop = True)
    # df = df.sort_values(IDName).reset_index(drop = True)
    return df# .shape

fullrec_folder = 'data/ProcData/RecFolder/EC'
df_Pat = load_df_data_from_folder(fullrec_folder, 'ECID')[['PID', 'ECID']]
print(df_Pat.shape)
df_Pat.head()

(225, 2)

  PID   ECID
0  P0   EC18
1  P0  EC140
2  P0   EC23
3  P0  EC141
4  P0  EC142

In [10]:
parent_ids

['PID', 'ECID']

In [11]:
df = pd.merge(df_Pat, df, on = parent_ids, how = 'left')
df

    PID   ECID   PNID          DT
0    P0   EC18  71800  2023-03-18
1    P0  EC140    NaN         NaN
2    P0   EC23    NaN         NaN
3    P0  EC141    NaN         NaN
4    P0  EC142    NaN         NaN
..   ..    ...    ...         ...
220  P6   EC15   1335  2023-03-31
221  P6   EC93    NaN         NaN
222  P6  EC195    NaN         NaN
223  P6  EC173    NaN         NaN
224  P7   EC17    435  2023-03-27

[225 rows x 4 columns]

In [12]:
import numpy as np

d = df
for col in focal_ids: 
    d.loc[d[col].isnull(), col] = ['Missing' + str(i) for i in np.ones(d[col].isnull().sum()).cumsum()]
    d[col] = d[col].astype(str)
    assert len(d[col]) == d[col].nunique()
    
df = d
df

    PID   ECID          PNID          DT
0    P0   EC18         71800  2023-03-18
1    P0  EC140    Missing1.0         NaN
2    P0   EC23    Missing2.0         NaN
3    P0  EC141    Missing3.0         NaN
4    P0  EC142    Missing4.0         NaN
..   ..    ...           ...         ...
220  P6   EC15          1335  2023-03-31
221  P6   EC93  Missing201.0         NaN
222  P6  EC195  Missing202.0         NaN
223  P6  EC173  Missing203.0         NaN
224  P7   EC17           435  2023-03-27

[225 rows x 4 columns]

## Pin Down

In [13]:
df_proc = df[['PID', 'ECID', 'PNID', 'DT']]
df_proc

    PID   ECID          PNID          DT
0    P0   EC18         71800  2023-03-18
1    P0  EC140    Missing1.0         NaN
2    P0   EC23    Missing2.0         NaN
3    P0  EC141    Missing3.0         NaN
4    P0  EC142    Missing4.0         NaN
..   ..    ...           ...         ...
220  P6   EC15          1335  2023-03-31
221  P6   EC93  Missing201.0         NaN
222  P6  EC195  Missing202.0         NaN
223  P6  EC173  Missing203.0         NaN
224  P7   EC17           435  2023-03-27

[225 rows x 4 columns]

# Save and Load

## Save

In [14]:
def convert_PID_to_PIDgroup(x, RANGE_SIZE):
    if type(x) == str:
        if 'P' in x:
            int_value = int(x.replace('P', ''))
    else:
        int_value = int(x)
    range_size = RANGE_SIZE
    group_idx = int(int_value / range_size)
    s = group_idx * range_size
    e = (group_idx + 1) * range_size - 1
    groupname = f'Group_s{s}_e{e}'
    return groupname

def write_df_to_folders(DataName, data_folder, df, IDname):
    dfy = df.copy()
    # data_folder = f'../Data/B-EHRDataSet/{DataName}'
    if not os.path.exists(data_folder):
        os.makedirs(data_folder)

    dfy['GroupName'] = dfy[IDname].apply(lambda x: convert_PID_to_PIDgroup(x , RANGE_SIZE))
    for groupname, dfx in dfy.groupby('GroupName'):
        file = os.path.join(data_folder, f'{groupname}.p')
        # print(file)
        dfx = dfx.drop(columns= ['GroupName'])
        dfx.to_pickle(file)
        
RANGE_SIZE = 10000

In [15]:
# the folder to save the Record.
###############
RecName = 'PN'
###############



rec_folder = 'data/ProcData/RecFolder'
IDname = 'PID' # always be PID, not review ID or other ID.

fullrec_folder = os.path.join(rec_folder, RecName)
print(fullrec_folder, '<----- fullrec_folder to save the records')
if not os.path.exists(fullrec_folder): os.makedirs(fullrec_folder)

data/ProcData/RecFolder/PN <----- fullrec_folder to save the records

In [16]:
df = df_proc

write_df_to_folders(RecName, fullrec_folder, df, IDname)

## Load

In [17]:
def load_df_data_from_folder(data_folder, IDName):
    file_list = os.listdir(data_folder)
    # file_lis
    df = pd.concat([pd.read_pickle(os.path.join(data_folder, i)) for i in file_list if '.p' in i]).reset_index(drop = True)
    # df = df.sort_values(IDName).reset_index(drop = True)
    return df# .shape

In [18]:
IDName = 'PID'
print(fullrec_folder)
df = load_df_data_from_folder(fullrec_folder, IDName)
print(df.shape)
df.head()
df

data/ProcData/RecFolder/PN
(225, 4)

    PID   ECID          PNID          DT
0    P0   EC18         71800  2023-03-18
1    P0  EC140    Missing1.0         NaN
2    P0   EC23    Missing2.0         NaN
3    P0  EC141    Missing3.0         NaN
4    P0  EC142    Missing4.0         NaN
..   ..    ...           ...         ...
220  P6   EC15          1335  2023-03-31
221  P6   EC93  Missing201.0         NaN
222  P6  EC195  Missing202.0         NaN
223  P6  EC173  Missing203.0         NaN
224  P7   EC17           435  2023-03-27

[225 rows x 4 columns]

## Load One Sample

In [19]:
def get_dfx_p_filename(IDValue, DataName, data_folder, RANGE_SIZE):
    group_name = convert_PID_to_PIDgroup(IDValue, RANGE_SIZE) 
    p_filename = f'{data_folder}/{DataName}/{group_name}.p'
    return p_filename
    
def load_patient_data(RID, IDValue, dfx):
    dfx = dfx[dfx[RID] == IDValue].reset_index(drop = True)
    return dfx

def get_dfx_from_buffer(RID, IDValue, DataName, data_folder, RANGE_SIZE, BUCKET_buffer):
    p_filename = get_dfx_p_filename(IDValue, DataName, data_folder, RANGE_SIZE)
    if p_filename not in BUCKET_buffer:
        dfx = pd.read_pickle(p_filename)
        BUCKET_buffer[p_filename] = dfx
        if len(BUCKET_buffer) > 100:
            for key in random.sample(BUCKET_buffer.keys(), 4):
                del BUCKET_buffer[key]
    else:
        dfx = BUCKET_buffer[p_filename]
    return dfx, BUCKET_buffer


class DataPoint(object):

    '''
    DataPoint: stands for one data point. 
    one instance is a patient.
    the instance of the patient could quickly the his/her record information by using `get_df_rec`.
    '''
    BUCKET_buffer = {}

    def __init__(self, RID, IDValue, data_folder, RANGE_SIZE):
        self.RID = RID
        self.IDValue = IDValue
        self.data_folder = data_folder
        self.df_rec_dict = {}
        self.RANGE_SIZE = RANGE_SIZE
        
    def get_df_rec(self, DataName):
        '''
        DataName: the name of the record, like: P, EC, BMI, PN, PNSect, etc.
        '''
        if DataName not in self.df_rec_dict:
            dfx, BUCKET_buffer = get_dfx_from_buffer(self.RID, self.IDValue, 
                                                     DataName, 
                                                     self.data_folder, 
                                                     self.RANGE_SIZE, 
                                                     self.BUCKET_buffer)
            self.BUCKET_buffer = BUCKET_buffer
            df_p = load_patient_data(self.RID, self.IDValue, dfx)
            self.df_rec_dict[DataName] = df_p
            return df_p
        else:
            return self.df_rec_dict[DataName]
        
    def __repr__(self):
        return f'<{self.RID} [{self.IDValue}]>'

In [20]:
# from recfldgrn.datapoint import PatientDP

# we want to study / explore P4 himself.

####################
RID = 'PID' # Record ID Name, always be PhyID
IDValue = 'P5'   # PhyID value
######################


data_folder = rec_folder
RANGE_SIZE = RANGE_SIZE

print(data_folder)


Pat = DataPoint(RID, IDValue, 
                data_folder, RANGE_SIZE)
Pat

data/ProcData/RecFolder

In [21]:
Pat.get_df_rec('PN')

   PID   ECID          PNID          DT
0   P5  EC129  Missing176.0         NaN
1   P5   EC76  Missing177.0         NaN
2   P5   EC99  Missing178.0         NaN
3   P5  EC100  Missing179.0         NaN
4   P5   EC96  Missing180.0         NaN
5   P5   EC97  Missing181.0         NaN
6   P5  EC103  Missing182.0         NaN
7   P5  EC104  Missing183.0         NaN
8   P5   EC11           492  2023-04-15
9   P5   EC90  Missing184.0         NaN
10  P5  EC105  Missing185.0         NaN
11  P5  EC133  Missing186.0         NaN
12  P5   EC94  Missing187.0         NaN
13  P5  EC134  Missing188.0         NaN
14  P5   EC60  Missing189.0         NaN
15  P5  EC137  Missing190.0         NaN
16  P5  EC205  Missing191.0         NaN
17  P5  EC198  Missing192.0         NaN
18  P5  EC135  Missing193.0         NaN
19  P5  EC138  Missing194.0         NaN
20  P5  EC206  Missing195.0         NaN
21  P5  EC200  Missing196.0         NaN
22  P5  EC199  Missing197.0         NaN

In [22]:
df_RecRaw[df_RecRaw['PID'] == 'P5']

   PID  ECID  PNID          DT
19  P5  EC11   492  2023-04-15