In [1]:
%cd ..

/Users/xiruihan/Desktop/RecFldGrn-main

# Load Data

## Load Raw

In [2]:
import os 
import pandas as pd

RecName = 'PNSectSent'
folder = 'data/Simulations/'
raw_file_path =  os.path.join(folder, RecName) + '.csv'
print(raw_file_path)

data/Simulations/PNSectSent.csv

In [3]:

# load all records
df = pd.read_csv(raw_file_path)
df

,PID,ECID,PNID,PNSectID,SentID,Sentence
0,P0,EC21,72374,149,1293,Later available sure scientist water out less.
1,P0,EC21,72374,145,1272,Wear relationship down surface section.
2,P0,EC21,72374,145,1271,Concern painting able than.
3,P0,EC21,72374,145,1270,Quite together just fund field.
4,P0,EC21,72374,145,1269,Owner PM building win cultural agent forward.
...,...,...,...,...,...,...
2582,P7,EC17,435,43,372,Man artist food area character.
2583,P7,EC17,435,43,373,Language very back strategy.
2584,P7,EC17,435,43,374,Feel budget tough edge read collection however...
2585,P7,EC17,435,39,310,Car true daughter guy strategy.
2586,P7,EC17,435,40,311,Own thank himself within future.

## Select Columns

In [4]:
parent_ids = ['PID','ECID','PNID','PNSectID']
focal_ids = ['SentID']


selected_cols = ['Sentence']

df = df[parent_ids + focal_ids + selected_cols]
df

,PID,ECID,PNID,PNSectID,SentID,Sentence
0,P0,EC21,72374,149,1293,Later available sure scientist water out less.
1,P0,EC21,72374,145,1272,Wear relationship down surface section.
2,P0,EC21,72374,145,1271,Concern painting able than.
3,P0,EC21,72374,145,1270,Quite together just fund field.
4,P0,EC21,72374,145,1269,Owner PM building win cultural agent forward.
...,...,...,...,...,...,...
2582,P7,EC17,435,43,372,Man artist food area character.
2583,P7,EC17,435,43,373,Language very back strategy.
2584,P7,EC17,435,43,374,Feel budget tough edge read collection however...
2585,P7,EC17,435,39,310,Car true daughter guy strategy.
2586,P7,EC17,435,40,311,Own thank himself within future.

## Basic Filtering

In [5]:
# nothing

## DF Rec Raw

In [5]:
df_RecRaw = df
df_RecRaw

,PID,ECID,PNID,PNSectID,SentID,Sentence
0,P0,EC21,72374,149,1293,Later available sure scientist water out less.
1,P0,EC21,72374,145,1272,Wear relationship down surface section.
2,P0,EC21,72374,145,1271,Concern painting able than.
3,P0,EC21,72374,145,1270,Quite together just fund field.
4,P0,EC21,72374,145,1269,Owner PM building win cultural agent forward.
...,...,...,...,...,...,...
2582,P7,EC17,435,43,372,Man artist food area character.
2583,P7,EC17,435,43,373,Language very back strategy.
2584,P7,EC17,435,43,374,Feel budget tough edge read collection however...
2585,P7,EC17,435,39,310,Car true daughter guy strategy.
2586,P7,EC17,435,40,311,Own thank himself within future.

# Fields in Records

In [6]:
df = df_RecRaw.copy()

for i in ['PID', 'ECID', 'PNID', 'PNSectID', 'SentID']:
    df[i] = df[i].astype(str)

## Field: Sentence

In [7]:
df['Sentence']

0          Later available sure scientist water out less.
1                 Wear relationship down surface section.
2                             Concern painting able than.
3                         Quite together just fund field.
4           Owner PM building win cultural agent forward.
                              ...
2582                      Man artist food area character.
2583                         Language very back strategy.
2584    Feel budget tough edge read collection however...
2585                      Car true daughter guy strategy.
2586                     Own thank himself within future.
Name: Sentence, Length: 2587, dtype: object

## Call Parents

In [8]:
def load_df_data_from_folder(data_folder, IDName):
    file_list = os.listdir(data_folder)
    # file_lis
    df = pd.concat([pd.read_pickle(os.path.join(data_folder, i)) for i in file_list if '.p' in i]).reset_index(drop = True)
    # df = df.sort_values(IDName).reset_index(drop = True)
    return df# .shape

fullrec_folder = 'data/ProcData/RecFolder/PNSect'
df_Pat = load_df_data_from_folder(fullrec_folder, 'PNSectID')[['PID','ECID','PNID','PNSectID']]
print(df_Pat.shape)
df_Pat.head()

(485, 4)

  PID  ECID   PNID PNSectID
0  P0  EC18  71800      190
1  P0  EC18  71800      188
2  P0  EC18  71800      178
3  P0  EC18  71800      179
4  P0  EC18  71800      180

In [9]:
df_Pat.dtypes

PID         object
ECID        object
PNID        object
PNSectID    object
dtype: object

In [10]:
df.dtypes

PID         object
ECID        object
PNID        object
PNSectID    object
SentID      object
Sentence    object
dtype: object

In [11]:
parent_ids

['PID', 'ECID', 'PNID', 'PNSectID']

In [12]:
df_Pat

    PID  ECID   PNID PNSectID
0    P0  EC18  71800      190
1    P0  EC18  71800      188
2    P0  EC18  71800      178
3    P0  EC18  71800      179
4    P0  EC18  71800      180
..   ..   ...    ...      ...
480  P7  EC17    435       44
481  P7  EC17    435       43
482  P7  EC17    435       42
483  P7  EC17    435       41
484  P7  EC17    435       40

[485 rows x 4 columns]

In [13]:
df.shape

df

,PID,ECID,PNID,PNSectID,SentID,Sentence
0,P0,EC21,72374,149,1293,Later available sure scientist water out less.
1,P0,EC21,72374,145,1272,Wear relationship down surface section.
2,P0,EC21,72374,145,1271,Concern painting able than.
3,P0,EC21,72374,145,1270,Quite together just fund field.
4,P0,EC21,72374,145,1269,Owner PM building win cultural agent forward.
...,...,...,...,...,...,...
2582,P7,EC17,435,43,372,Man artist food area character.
2583,P7,EC17,435,43,373,Language very back strategy.
2584,P7,EC17,435,43,374,Feel budget tough edge read collection however...
2585,P7,EC17,435,39,310,Car true daughter guy strategy.
2586,P7,EC17,435,40,311,Own thank himself within future.

In [15]:
df = pd.merge(df_Pat, df, on = parent_ids, how = 'left')
df

,PID,ECID,PNID,PNSectID,SentID,Sentence
0,P0,EC18,71800,190,1547,Question religious small evidence.
1,P0,EC18,71800,190,1546,Prove subject responsibility.
2,P0,EC18,71800,190,1545,Card machine know fight experience option.
3,P0,EC18,71800,190,1544,Bank message several deal option be.
4,P0,EC18,71800,190,1543,Skin despite security set we.
...,...,...,...,...,...,...
2785,P7,EC17,435,41,321,More nothing scene leave chance tax.
2786,P7,EC17,435,40,312,Long follow account dream life.
2787,P7,EC17,435,40,313,Policy capital piece degree soon already.
2788,P7,EC17,435,40,314,Concern mind near some.
2789,P7,EC17,435,40,311,Own thank himself within future.

In [16]:
import numpy as np

d = df
for col in focal_ids: 
    d.loc[d[col].isnull(), col] = ['Missing' + str(i) for i in np.ones(d[col].isnull().sum()).cumsum()]
    # d[col] = d[col].astype(int)
    assert len(d[col]) == d[col].nunique()
    
df = d
df

,PID,ECID,PNID,PNSectID,SentID,Sentence
0,P0,EC18,71800,190,1547,Question religious small evidence.
1,P0,EC18,71800,190,1546,Prove subject responsibility.
2,P0,EC18,71800,190,1545,Card machine know fight experience option.
3,P0,EC18,71800,190,1544,Bank message several deal option be.
4,P0,EC18,71800,190,1543,Skin despite security set we.
...,...,...,...,...,...,...
2785,P7,EC17,435,41,321,More nothing scene leave chance tax.
2786,P7,EC17,435,40,312,Long follow account dream life.
2787,P7,EC17,435,40,313,Policy capital piece degree soon already.
2788,P7,EC17,435,40,314,Concern mind near some.
2789,P7,EC17,435,40,311,Own thank himself within future.

## Pin Down

In [17]:
df_proc = df[['PID', 'ECID', 'PNID', 'PNSectID','SentID','Sentence']]
df_proc

,PID,ECID,PNID,PNSectID,SentID,Sentence
0,P0,EC18,71800,190,1547,Question religious small evidence.
1,P0,EC18,71800,190,1546,Prove subject responsibility.
2,P0,EC18,71800,190,1545,Card machine know fight experience option.
3,P0,EC18,71800,190,1544,Bank message several deal option be.
4,P0,EC18,71800,190,1543,Skin despite security set we.
...,...,...,...,...,...,...
2785,P7,EC17,435,41,321,More nothing scene leave chance tax.
2786,P7,EC17,435,40,312,Long follow account dream life.
2787,P7,EC17,435,40,313,Policy capital piece degree soon already.
2788,P7,EC17,435,40,314,Concern mind near some.
2789,P7,EC17,435,40,311,Own thank himself within future.

# Save and Load

## Save

In [18]:
def convert_PID_to_PIDgroup(x, RANGE_SIZE):
    if type(x) == str:
        if 'P' in x:
            int_value = int(x.replace('P', ''))
    else:
        int_value = int(x)
    range_size = RANGE_SIZE
    group_idx = int(int_value / range_size)
    s = group_idx * range_size
    e = (group_idx + 1) * range_size - 1
    groupname = f'Group_s{s}_e{e}'
    return groupname

def write_df_to_folders(DataName, data_folder, df, IDname):
    dfy = df.copy()
    # data_folder = f'../Data/B-EHRDataSet/{DataName}'
    if not os.path.exists(data_folder):
        os.makedirs(data_folder)

    dfy['GroupName'] = dfy[IDname].apply(lambda x: convert_PID_to_PIDgroup(x , RANGE_SIZE))
    for groupname, dfx in dfy.groupby('GroupName'):
        file = os.path.join(data_folder, f'{groupname}.p')
        # print(file)
        dfx = dfx.drop(columns= ['GroupName'])
        dfx.to_pickle(file)
        
RANGE_SIZE = 10000

In [19]:
# the folder to save the Record.
###############
RecName = 'PNSectSent'
###############





rec_folder = 'data/ProcData/RecFolder'
IDname = 'PID' # always be PID, not review ID or other ID.

fullrec_folder = os.path.join(rec_folder, RecName)
print(fullrec_folder, '<----- fullrec_folder to save the records')
if not os.path.exists(fullrec_folder): os.makedirs(fullrec_folder)

data/ProcData/RecFolder/PNSectSent <----- fullrec_folder to save the records

In [20]:
df = df_proc

write_df_to_folders(RecName, fullrec_folder, df, IDname)

## Load

In [21]:
def load_df_data_from_folder(data_folder, IDName):
    file_list = os.listdir(data_folder)
    # file_lis
    df = pd.concat([pd.read_pickle(os.path.join(data_folder, i)) for i in file_list if '.p' in i]).reset_index(drop = True)
    # df = df.sort_values(IDName).reset_index(drop = True)
    return df# .shape

In [22]:
IDName = 'PID'
print(fullrec_folder)
df = load_df_data_from_folder(fullrec_folder, IDName)
print(df.shape)
df.head()
df

data/ProcData/RecFolder/PNSectSent
(2790, 6)

,PID,ECID,PNID,PNSectID,SentID,Sentence
0,P0,EC18,71800,190,1547,Question religious small evidence.
1,P0,EC18,71800,190,1546,Prove subject responsibility.
2,P0,EC18,71800,190,1545,Card machine know fight experience option.
3,P0,EC18,71800,190,1544,Bank message several deal option be.
4,P0,EC18,71800,190,1543,Skin despite security set we.
...,...,...,...,...,...,...
2785,P7,EC17,435,41,321,More nothing scene leave chance tax.
2786,P7,EC17,435,40,312,Long follow account dream life.
2787,P7,EC17,435,40,313,Policy capital piece degree soon already.
2788,P7,EC17,435,40,314,Concern mind near some.
2789,P7,EC17,435,40,311,Own thank himself within future.

## Load One Sample

In [23]:
def get_dfx_p_filename(IDValue, DataName, data_folder, RANGE_SIZE):
    group_name = convert_PID_to_PIDgroup(IDValue, RANGE_SIZE) 
    p_filename = f'{data_folder}/{DataName}/{group_name}.p'
    return p_filename
    
def load_patient_data(RID, IDValue, dfx):
    dfx = dfx[dfx[RID] == IDValue].reset_index(drop = True)
    return dfx

def get_dfx_from_buffer(RID, IDValue, DataName, data_folder, RANGE_SIZE, BUCKET_buffer):
    p_filename = get_dfx_p_filename(IDValue, DataName, data_folder, RANGE_SIZE)
    if p_filename not in BUCKET_buffer:
        dfx = pd.read_pickle(p_filename)
        BUCKET_buffer[p_filename] = dfx
        if len(BUCKET_buffer) > 100:
            for key in random.sample(BUCKET_buffer.keys(), 4):
                del BUCKET_buffer[key]
    else:
        dfx = BUCKET_buffer[p_filename]
    return dfx, BUCKET_buffer


class DataPoint(object):

    '''
    DataPoint: stands for one data point. 
    one instance is a patient.
    the instance of the patient could quickly the his/her record information by using `get_df_rec`.
    '''
    BUCKET_buffer = {}

    def __init__(self, RID, IDValue, data_folder, RANGE_SIZE):
        self.RID = RID
        self.IDValue = IDValue
        self.data_folder = data_folder
        self.df_rec_dict = {}
        self.RANGE_SIZE = RANGE_SIZE
        
    def get_df_rec(self, DataName):
        '''
        DataName: the name of the record, like: P, EC, BMI, PN, PNSect, etc.
        '''
        if DataName not in self.df_rec_dict:
            dfx, BUCKET_buffer = get_dfx_from_buffer(self.RID, self.IDValue, 
                                                     DataName, 
                                                     self.data_folder, 
                                                     self.RANGE_SIZE, 
                                                     self.BUCKET_buffer)
            self.BUCKET_buffer = BUCKET_buffer
            df_p = load_patient_data(self.RID, self.IDValue, dfx)
            self.df_rec_dict[DataName] = df_p
            return df_p
        else:
            return self.df_rec_dict[DataName]
        
    def __repr__(self):
        return f'<{self.RID} [{self.IDValue}]>'

In [24]:
# from recfldgrn.datapoint import PatientDP

# we want to study / explore P4 himself.

####################
RID = 'PID' # Record ID Name, always be PhyID
IDValue = 'P5'   # PhyID value
######################


data_folder = rec_folder
RANGE_SIZE = RANGE_SIZE

print(data_folder)


Pat = DataPoint(RID, IDValue, 
                data_folder, RANGE_SIZE)
Pat

data/ProcData/RecFolder

In [25]:
[i for i in os.listdir(data_folder) if i != '.DS_Store']

['PNSect', 'Diag', 'Smoking', 'EC', 'PN', 'A1C', 'PNSectSent', 'P']

In [26]:
Pat.get_df_rec('P')

  PID  age basicInfo
0  P5   73  Female&D

In [31]:
Pat.get_df_rec('A1C')

   PID   ECID           RID          V          DT
0   P5  EC129  Missing175.0        NaN         NaN
1   P5   EC76  Missing176.0        NaN         NaN
2   P5   EC99  Missing177.0        NaN         NaN
3   P5  EC100  Missing178.0        NaN         NaN
4   P5   EC96  Missing179.0        NaN         NaN
5   P5   EC97  Missing180.0        NaN         NaN
6   P5  EC103  Missing181.0        NaN         NaN
7   P5  EC104  Missing182.0        NaN         NaN
8   P5   EC11  Missing183.0        NaN         NaN
9   P5   EC90  Missing184.0        NaN         NaN
10  P5  EC105  Missing185.0        NaN         NaN
11  P5  EC133  Missing186.0        NaN         NaN
12  P5   EC94  Missing187.0        NaN         NaN
13  P5  EC134  Missing188.0        NaN         NaN
14  P5   EC60  Missing189.0        NaN         NaN
15  P5  EC137  Missing190.0        NaN         NaN
16  P5  EC205  Missing191.0        NaN         NaN
17  P5  EC198        3879.0  37.447457  2023-04-04
18  P5  EC135  Missing192.0        NaN         NaN
19  P5  EC138  Missing193.0        NaN         NaN
20  P5  EC206  Missing194.0        NaN         NaN
21  P5  EC200        3524.0  49.140256  2023-04-09
22  P5  EC199        5409.0  17.241648  2023-04-11

In [27]:
Pat.get_df_rec('PN')

   PID   ECID          PNID          DT
0   P5  EC129  Missing176.0         NaN
1   P5   EC76  Missing177.0         NaN
2   P5   EC99  Missing178.0         NaN
3   P5  EC100  Missing179.0         NaN
4   P5   EC96  Missing180.0         NaN
5   P5   EC97  Missing181.0         NaN
6   P5  EC103  Missing182.0         NaN
7   P5  EC104  Missing183.0         NaN
8   P5   EC11           492  2023-04-15
9   P5   EC90  Missing184.0         NaN
10  P5  EC105  Missing185.0         NaN
11  P5  EC133  Missing186.0         NaN
12  P5   EC94  Missing187.0         NaN
13  P5  EC134  Missing188.0         NaN
14  P5   EC60  Missing189.0         NaN
15  P5  EC137  Missing190.0         NaN
16  P5  EC205  Missing191.0         NaN
17  P5  EC198  Missing192.0         NaN
18  P5  EC135  Missing193.0         NaN
19  P5  EC138  Missing194.0         NaN
20  P5  EC206  Missing195.0         NaN
21  P5  EC200  Missing196.0         NaN
22  P5  EC199  Missing197.0         NaN

In [28]:
Pat.get_df_rec('PNSect')

   PID   ECID          PNID      PNSectID                           SectName
0   P5  EC129  Missing176.0  Missing176.0                                NaN
1   P5   EC76  Missing177.0  Missing177.0                                NaN
2   P5   EC99  Missing178.0  Missing178.0                                NaN
3   P5  EC100  Missing179.0  Missing179.0                                NaN
4   P5   EC96  Missing180.0  Missing180.0                                NaN
5   P5   EC97  Missing181.0  Missing181.0                                NaN
6   P5  EC103  Missing182.0  Missing182.0                                NaN
7   P5  EC104  Missing183.0  Missing183.0                                NaN
8   P5   EC11           492            64                 Health Maintenance
9   P5   EC11           492            58  Problem List/Past Medical History
10  P5   EC11           492            61                          Allergies
11  P5   EC11           492            60                        Medications
12  P5   EC11           492            59         Procedure/Surgical History
13  P5   EC11           492            57               Patient Instructions
14  P5   EC11           492            56                    Assessment/Plan
15  P5   EC11           492            55                  Medicare Wellness
16  P5   EC11           492            54                      Physical Exam
17  P5   EC11           492            53                  Review of Systems
18  P5   EC11           492            52         History of Present Illness
19  P5   EC11           492            62                     Social History
20  P5   EC11           492            51                    Chief Complaint
21  P5   EC11           492            63                     Family History
22  P5   EC90  Missing184.0  Missing184.0                                NaN
23  P5  EC105  Missing185.0  Missing185.0                                NaN
24  P5  EC133  Missing186.0  Missing186.0                                NaN
25  P5   EC94  Missing187.0  Missing187.0                                NaN
26  P5  EC134  Missing188.0  Missing188.0                                NaN
27  P5   EC60  Missing189.0  Missing189.0                                NaN
28  P5  EC137  Missing190.0  Missing190.0                                NaN
29  P5  EC205  Missing191.0  Missing191.0                                NaN
30  P5  EC198  Missing192.0  Missing192.0                                NaN
31  P5  EC135  Missing193.0  Missing193.0                                NaN
32  P5  EC138  Missing194.0  Missing194.0                                NaN
33  P5  EC206  Missing195.0  Missing195.0                                NaN
34  P5  EC200  Missing196.0  Missing196.0                                NaN
35  P5  EC199  Missing197.0  Missing197.0                                NaN

In [30]:
dfx = Pat.get_df_rec('PNSectSent')
dfx[-dfx['Sentence'].isna()]

,PID,ECID,PNID,PNSectID,SentID,Sentence
8,P5,EC11,492,64,495,Season land third wonder southern crime.
9,P5,EC11,492,64,493,Only where check management program owner lead.
10,P5,EC11,492,64,490,Beat her me southern.
11,P5,EC11,492,64,491,Strong least mean rule.
12,P5,EC11,492,64,494,Outside fly statement.
...,...,...,...,...,...,...
101,P5,EC11,492,62,486,State note themselves.
102,P5,EC11,492,62,487,Rise mean step.
103,P5,EC11,492,62,488,Five baby job travel shake next.
104,P5,EC11,492,51,398,Program language size mission forget nature hi...
105,P5,EC11,492,63,489,Minute close thus continue too second like.