In [1]:
%cd ..

/Users/floydluo/Library/CloudStorage/OneDrive-JohnsHopkins/000Projects/0000-Infrastructure/0000-RecFld/RecFldGrn

# Load Data

## Load Raw

In [2]:
import os 
import pandas as pd

RecName = 'PNSectSent'
folder = 'data/Simulations/'
raw_file_path =  os.path.join(folder, RecName) + '.csv'
print(raw_file_path)

data/Simulations/PNSectSent.csv

In [3]:

# load all records
df = pd.read_csv(raw_file_path)
df

,PID,ECID,PNID,PNSectID,SentID,Sentence
0,P0,EC21,72374,149,1293,Later available sure scientist water out less.
1,P0,EC21,72374,145,1272,Wear relationship down surface section.
2,P0,EC21,72374,145,1271,Concern painting able than.
3,P0,EC21,72374,145,1270,Quite together just fund field.
4,P0,EC21,72374,145,1269,Owner PM building win cultural agent forward.
...,...,...,...,...,...,...
2582,P7,EC17,435,43,372,Man artist food area character.
2583,P7,EC17,435,43,373,Language very back strategy.
2584,P7,EC17,435,43,374,Feel budget tough edge read collection however...
2585,P7,EC17,435,39,310,Car true daughter guy strategy.
2586,P7,EC17,435,40,311,Own thank himself within future.

## Select Columns

In [4]:
parent_ids = ['PID','ECID','PNID','PNSectID']
focal_ids = ['SentID']


selected_cols = ['Sentence']

df = df[parent_ids + focal_ids + selected_cols]
df

,PID,ECID,PNID,PNSectID,SentID,Sentence
0,P0,EC21,72374,149,1293,Later available sure scientist water out less.
1,P0,EC21,72374,145,1272,Wear relationship down surface section.
2,P0,EC21,72374,145,1271,Concern painting able than.
3,P0,EC21,72374,145,1270,Quite together just fund field.
4,P0,EC21,72374,145,1269,Owner PM building win cultural agent forward.
...,...,...,...,...,...,...
2582,P7,EC17,435,43,372,Man artist food area character.
2583,P7,EC17,435,43,373,Language very back strategy.
2584,P7,EC17,435,43,374,Feel budget tough edge read collection however...
2585,P7,EC17,435,39,310,Car true daughter guy strategy.
2586,P7,EC17,435,40,311,Own thank himself within future.

## Basic Filtering

In [5]:
# nothing

## DF Rec Raw

In [6]:
df_RecRaw = df
df_RecRaw

,PID,ECID,PNID,PNSectID,SentID,Sentence
0,P0,EC21,72374,149,1293,Later available sure scientist water out less.
1,P0,EC21,72374,145,1272,Wear relationship down surface section.
2,P0,EC21,72374,145,1271,Concern painting able than.
3,P0,EC21,72374,145,1270,Quite together just fund field.
4,P0,EC21,72374,145,1269,Owner PM building win cultural agent forward.
...,...,...,...,...,...,...
2582,P7,EC17,435,43,372,Man artist food area character.
2583,P7,EC17,435,43,373,Language very back strategy.
2584,P7,EC17,435,43,374,Feel budget tough edge read collection however...
2585,P7,EC17,435,39,310,Car true daughter guy strategy.
2586,P7,EC17,435,40,311,Own thank himself within future.

# Fields in Records

In [7]:
df = df_RecRaw.copy()

## Field: ID

In [9]:
RecName = 'PNSectSent'
RID = RecName + 'ID'
df = df.rename(columns = {'SentID': RID})
assert df[RID].value_counts().max() == 1
df.head()

,PID,ECID,PNID,PNSectID,PNSectSentID,Sentence
0,P0,EC21,72374,149,1293,Later available sure scientist water out less.
1,P0,EC21,72374,145,1272,Wear relationship down surface section.
2,P0,EC21,72374,145,1271,Concern painting able than.
3,P0,EC21,72374,145,1270,Quite together just fund field.
4,P0,EC21,72374,145,1269,Owner PM building win cultural agent forward.

## Field: Sentence

In [10]:
df['Sentence']

0          Later available sure scientist water out less.
1                 Wear relationship down surface section.
2                             Concern painting able than.
3                         Quite together just fund field.
4           Owner PM building win cultural agent forward.
                              ...
2582                      Man artist food area character.
2583                         Language very back strategy.
2584    Feel budget tough edge read collection however...
2585                      Car true daughter guy strategy.
2586                     Own thank himself within future.
Name: Sentence, Length: 2587, dtype: object

## Pin Down

In [11]:
df_proc = df[['PID', 'ECID', 'PNID',
              'PNSectID', RID,'Sentence']]
df_proc

,PID,ECID,PNID,PNSectID,PNSectSentID,Sentence
0,P0,EC21,72374,149,1293,Later available sure scientist water out less.
1,P0,EC21,72374,145,1272,Wear relationship down surface section.
2,P0,EC21,72374,145,1271,Concern painting able than.
3,P0,EC21,72374,145,1270,Quite together just fund field.
4,P0,EC21,72374,145,1269,Owner PM building win cultural agent forward.
...,...,...,...,...,...,...
2582,P7,EC17,435,43,372,Man artist food area character.
2583,P7,EC17,435,43,373,Language very back strategy.
2584,P7,EC17,435,43,374,Feel budget tough edge read collection however...
2585,P7,EC17,435,39,310,Car true daughter guy strategy.
2586,P7,EC17,435,40,311,Own thank himself within future.

# Save and Load

## Save

In [12]:
from recfldgrn.datapoint import convert_PID_to_PIDgroup
from recfldgrn.datapoint import RANGE_SIZE, write_df_to_folders, load_df_data_from_folder
RANGE_SIZE = 10000; IDNAME = 'PID'

In [13]:
# the folder to save the Record.
###############
RecName = RecName
df = df_proc
###############

rec_folder = 'Data/ProcData/RecFolder'
data_folder = os.path.join(rec_folder, RecName)
print(data_folder, '<----- fullrec_folder to save the records')

if not os.path.exists(data_folder): 
    os.makedirs(data_folder)

write_df_to_folders(RecName, data_folder, df, IDNAME)

Data/ProcData/RecFolder/PNSectSent <----- fullrec_folder to save the records

## Load

In [14]:
from recfldgrn.datapoint import load_df_data_with_RecName
df = load_df_data_with_RecName(rec_folder, RecName)
print(df.shape)
df.head()

(2587, 6)

,PID,ECID,PNID,PNSectID,PNSectSentID,Sentence
0,P0,EC21,72374,149,1293,Later available sure scientist water out less.
1,P0,EC21,72374,145,1272,Wear relationship down surface section.
2,P0,EC21,72374,145,1271,Concern painting able than.
3,P0,EC21,72374,145,1270,Quite together just fund field.
4,P0,EC21,72374,145,1269,Owner PM building win cultural agent forward.

## Load One Sample

In [15]:
from recfldgrn.datapoint import DataPoint
####################
PIDValue = 'P5'  
######################
Pat = DataPoint(IDNAME, PIDValue, rec_folder, RANGE_SIZE)
Pat

In [16]:
Pat.get_df_rec(RecName)

,PID,ECID,PNID,PNSectID,PNSectSentID,Sentence
0,P5,EC11,492,64,495,Season land third wonder southern crime.
1,P5,EC11,492,56,446,Benefit weight challenge star arm foreign bad.
2,P5,EC11,492,55,427,Through go take difficult perform.
3,P5,EC11,492,56,428,Article at material anyone.
4,P5,EC11,492,56,429,College drug partner if gun.
...,...,...,...,...,...,...
93,P5,EC11,492,64,491,Strong least mean rule.
94,P5,EC11,492,64,494,Outside fly statement.
95,P5,EC11,492,64,492,News interview future join require anyone appl...
96,P5,EC11,492,51,398,Program language size mission forget nature hi...
97,P5,EC11,492,52,399,Camera husband concern character.